In [275]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import os
import sqlite3

In [276]:

# Define the current working directory
cwd = os.getcwd()

# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021_all_csv_v2.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(data.head())

/tmp/ipykernel_554125/1414196001.py:12: DtypeWarning: Columns (7,8,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 2 Percentage Above Standard Area 2 Percentage Near Standard  \
0                             12.98                           50.72
1                             10.93                           49.51
2                             15.08                           51.97
3                             16.21                           54.66
4                             33.84                           52.05

  Area 2 Percentage Below Standard Area 3 Percentage Above Standard  \
0                            36.30                            10.49
1                            39.57                             9.89
2                            32.95                            11.11
3                            29.13                            12.80
4                            14.11                            23.18

  Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                           71.78                            17.72
1                           71.55                            18.56
2                           72.02                            16.86
3                           72.67                            14.52
4                           69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID
0                            21.77       4
1                            23.45       4
2                            20.06       4
3                            17.10       4
4                             6.87       4

[5 rows x 33 columns]

In [277]:
# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021entities_csv.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
entitiy = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(entitiy.head())

   County Code  District Code  School Code  Filler  Test Year  Type ID  \
0            0              0            0     NaN       2021        4
1            1              0            0     NaN       2021        5
2            1          10017            0     NaN       2021        6
3            1          10017       112607     NaN       2021        9
4            1          10017       124172     NaN       2021        9

           County Name                           District Name  \
0  State of California                                     NaN
1              Alameda                                     NaN
2              Alameda      Alameda County Office of Education
3              Alameda  Envision Academy for Arts & Technology
4              Alameda                         Yu Ming Charter

                              School Name Zip Code Unnamed: 10 Unnamed: 11  \
0                                     NaN      NaN         NaN         NaN
1                                     NaN      NaN         NaN         NaN
2                                     NaN      NaN         NaN         NaN
3  Envision Academy for Arts & Technology    94612         NaN         NaN
4                         Yu Ming Charter    94608         NaN         NaN

  Unnamed: 12  Unnamed: 13
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

In [278]:
# Merge the dataframes on 'County Code', 'District Code', and 'School Code'
merged_data = data.merge(entitiy[['County Code', 'District Code', 'School Code', 'County Name', 'District Name', 'School Name', 'Zip Code']],
                         on=['County Code', 'District Code', 'School Code'],
                         how='left')

# Print the first few rows of the merged dataframe
print(merged_data.head())

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                            71.78                            17.72
1                            71.55                            18.56
2                            72.02                            16.86
3                            72.67                            14.52
4                            69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID          County Name District Name  \
0                            21.77       4  State of California           NaN
1                            23.45       4  State of California           NaN
2                            20.06       4  State of California           NaN
3                            17.10       4  State of California           NaN
4                             6.87       4  State of California           NaN

  School Name Zip Code
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

[5 rows x 37 columns]

In [279]:
# Delete all rows where 'School Code' is 0
merged_data = merged_data[merged_data['School Code'] != 0]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1901            1          10017       112607     NaN       2021
1902            1          10017       112607     NaN       2021
1903            1          10017       112607     NaN       2021
1904            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1901                 3         B                              56
1902                 4         B                              52
1903                 6         B                              93
1904                 7         B                               *

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1901                                          56      6  ...
1902                                          50      6  ...
1903                                          91      6  ...
1904                                           *      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1901                                *                                *
1902                                *                                *
1903                                *                                *
1904                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1901                                *                               *
1902                                *                               *
1903                                *                               *
1904                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1901                                *       9     Alameda
1902                                *       9     Alameda
1903                                *       9     Alameda
1904                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1901  Envision Academy for Arts & Technology
1902  Envision Academy for Arts & Technology
1903  Envision Academy for Arts & Technology
1904  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1901  Envision Academy for Arts & Technology    94612
1902  Envision Academy for Arts & Technology    94612
1903  Envision Academy for Arts & Technology    94612
1904  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [280]:
# Check for rows where 'County Code' or 'District Code' is equal to 0
county_code_zero = merged_data[merged_data['County Code'] == 0]
district_code_zero = merged_data[merged_data['District Code'] == 0]

# Print the number of rows found
print(f"Rows with 'County Code' equal to 0: {len(county_code_zero)}")
print(f"Rows with 'District Code' equal to 0: {len(district_code_zero)}")

Rows with 'County Code' equal to 0: 0
Rows with 'District Code' equal to 0: 0

In [281]:
# Check for duplicated rows
duplicated_rows = merged_data[merged_data.duplicated()]

# Print the number of duplicated rows found
print(f"Number of duplicated rows: {len(duplicated_rows)}")

# Print the duplicated rows
print(duplicated_rows)

Number of duplicated rows: 0
Empty DataFrame
Columns: [County Code, District Code, School Code, Filler, Test Year, Student Group ID, Test Type, Total Tested at Reporting Level, Total Tested with Scores at Reporting Level, Grade, Test ID, Students Enrolled, Students Tested, Mean Scale Score, Percentage Standard Exceeded, Percentage Standard Met, Percentage Standard Met and Above, Percentage Standard Nearly Met, Percentage Standard Not Met, Students with Scores, Area 1 Percentage Above Standard, Area 1 Percentage Near Standard, Area 1 Percentage Below Standard, Area 2 Percentage Above Standard, Area 2 Percentage Near Standard, Area 2 Percentage Below Standard, Area 3 Percentage Above Standard, Area 3 Percentage Near Standard, Area 3 Percentage Below Standard, Area 4 Percentage Above Standard, Area 4 Percentage Near Standard, Area 4 Percentage Below Standard, Type ID, County Name, District Name, School Name, Zip Code]
Index: []

[0 rows x 37 columns]

In [282]:
# Drop all rows where 'Student Group ID' is not equal to 1
# Student Group ID of 1 corresponds to all students
merged_data = merged_data[merged_data['Student Group ID'] == 1]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1933            1          10017       112607     NaN       2021
1965            1          10017       112607     NaN       2021
1999            1          10017       112607     NaN       2021
2033            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1933                 1         B                             108
1965                 1         B                             108
1999                 1         B                             108
2033                 1         B                             111

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1933                                         106      7  ...
1965                                         106     11  ...
1999                                         106     13  ...
2033                                         105      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1933                                *                                *
1965                            75.41                             8.20
1999                            71.70                            16.04
2033                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1933                                *                               *
1965                            26.23                           65.57
1999                            19.81                           62.26
2033                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1933                                *       9     Alameda
1965                             8.20       9     Alameda
1999                            17.92       9     Alameda
2033                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1933  Envision Academy for Arts & Technology
1965  Envision Academy for Arts & Technology
1999  Envision Academy for Arts & Technology
2033  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1933  Envision Academy for Arts & Technology    94612
1965  Envision Academy for Arts & Technology    94612
1999  Envision Academy for Arts & Technology    94612
2033  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [283]:
# List columns by data type
columns_by_type = {
    'int64': merged_data.select_dtypes(include='int64').columns.tolist(),
    'float64': merged_data.select_dtypes(include='float64').columns.tolist(),
    'object': merged_data.select_dtypes(include='object').columns.tolist()
}

print(columns_by_type)

{'int64': ['County Code', 'District Code', 'School Code', 'Test Year', 'Student Group ID', 'Grade', 'Test ID', 'Type ID'], 'float64': ['Filler'], 'object': ['Test Type', 'Total Tested at Reporting Level', 'Total Tested with Scores at Reporting Level', 'Students Enrolled', 'Students Tested', 'Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Met and Above', 'Percentage Standard Nearly Met', 'Percentage Standard Not Met', 'Students with Scores', 'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard', 'County Name', 'District Name', 'School Name', 'Zip Code']}

In [284]:
# Define the save path and save file name
SavePath = 'data/'
SaveFile = 'zctacensus.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
zcta_census = pd.read_csv(file_path)

# Drop all rows where GEOID_ZCTA5_20 is NaN
zcta_census = zcta_census.dropna(subset=['GEOID_ZCTA5_20'])   

# Drop unnecessary columns
zcta_census = zcta_census[['GEOID_ZCTA5_20', 'NAMELSAD_ZCTA5_20', 'GEOID_TRACT_20']]

# Fix the data type of 'GEOID_ZCTA5_20'
zcta_census['GEOID_ZCTA5_20'] = zcta_census['GEOID_ZCTA5_20'].apply(lambda x: f"{int(x):05d}").astype(str)

# Fix the data type of 'GEOID_TRACT_20' 
zcta_census['GEOID_TRACT_20'] = zcta_census['GEOID_TRACT_20'].apply(lambda x: f"{int(x):06d}").astype(str)

# For all values from 'GEOID_TRACT_20', append a 0 to the fron of the string if they are less than 11 characters long
zcta_census['GEOID_TRACT_20'] = zcta_census['GEOID_TRACT_20'].apply(lambda x: '0' + x if len(x) < 11 else x)

# Change Column Names
zcta_census.columns = ['ZCTA5', 'Name', 'CensusTract']

# Print the first few rows of the DataFrame
print(zcta_census.head())

      ZCTA5         Name  CensusTract
3268  00601  ZCTA5 00601  72001956300
3269  00601  ZCTA5 00601  72001956400
3270  00601  ZCTA5 00601  72001956500
3271  00601  ZCTA5 00601  72001956600
3272  00601  ZCTA5 00601  72001956700

In [285]:
# Define the save path and save file name
CensusPath = 'data/Census/EdAttainment/'
CensusFile = 'ACSDT5Y2021.B15003-Data.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, CensusPath, CensusFile)

# Read the CSV file into a DataFrame
EdAttain = pd.read_csv(file_path)

# Make row 0 the header
EdAttain.columns = EdAttain.iloc[0]
EdAttain = EdAttain[1:]

# Split the geography column to get the census tract
EdAttain['CensusTract'] = EdAttain['Geography'].str[-11:]

# Print the first few rows of the DataFrame
print(EdAttain.head())

0             Geography                           Geographic Area Name  \
1  1400000US06001400100  Census Tract 4001, Alameda County, California
2  1400000US06001400200  Census Tract 4002, Alameda County, California
3  1400000US06001400300  Census Tract 4003, Alameda County, California
4  1400000US06001400400  Census Tract 4004, Alameda County, California
5  1400000US06001400500  Census Tract 4005, Alameda County, California

0 Estimate!!Total: Margin of Error!!Total:  \
1             2513                     254
2             1621                     214
3             4358                     490
4             3333                     436
5             3101                     413

0 Estimate!!Total:!!No schooling completed  \
1                                       18
2                                        0
3                                       82
4                                       44
5                                        0

0 Margin of Error!!Total:!!No schooling completed  \
1                                              20
2                                              13
3                                              92
4                                              59
5                                              13

0 Estimate!!Total:!!Nursery school Margin of Error!!Total:!!Nursery school  \
1                                0                                      13
2                                0                                      13
3                                0                                      19
4                                0                                      13
5                                0                                      13

0 Estimate!!Total:!!Kindergarten Margin of Error!!Total:!!Kindergarten  ...  \
1                              0                                    13  ...
2                              0                                    13  ...
3                              0                                    19  ...
4                              0                                    13  ...
5                              0                                    13  ...

0 Estimate!!Total:!!Bachelor's degree  \
1                                 947
2                                 565
3                                1728
4                                1187
5                                1051

0 Margin of Error!!Total:!!Bachelor's degree  \
1                                        188
2                                        119
3                                        300
4                                        271
5                                        190

0 Estimate!!Total:!!Master's degree Margin of Error!!Total:!!Master's degree  \
1                               751                                      145
2                               569                                      124
3                              1135                                      352
4                               856                                      171
5                               720                                      189

0 Estimate!!Total:!!Professional school degree  \
1                                          210
2                                          194
3                                          272
4                                          279
5                                          244

0 Margin of Error!!Total:!!Professional school degree  \
1                                                 65
2                                                 61
3                                                131
4                                                106
5                                                103

0 Estimate!!Total:!!Doctorate degree  \
1                                265
2                                129
3                                241
4                                244
5                                 91

0 Margin of Error!!Total:!!Doctorate degree NaN  CensusTract
1                                       108 NaN  06001400100
2                                        45 NaN  06001400200
3                                       124 NaN  06001400300
4                                        94 NaN  06001400400
5                                        56 NaN  06001400500

[5 rows x 54 columns]

In [286]:
# Define the save path and save file name
CensusPath2 = 'data/Census/income/'
CensusFile2 = 'ACSST5Y2023.S1901-Data.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, CensusPath2, CensusFile2)

# Read the CSV file into a DataFrame
Income = pd.read_csv(file_path)

# Make row 0 the header
Income.columns = Income.iloc[0]
Income = Income[1:]

# Split the geography column to get the census tract
Income['CensusTract'] = Income['Geography'].str[-11:]

# Print the first few rows of the DataFrame
print(Income.head())

0             Geography                           Geographic Area Name  \
1  1400000US06001400100  Census Tract 4001; Alameda County; California
2  1400000US06001400200  Census Tract 4002; Alameda County; California
3  1400000US06001400300  Census Tract 4003; Alameda County; California
4  1400000US06001400400  Census Tract 4004; Alameda County; California
5  1400000US06001400500  Census Tract 4005; Alameda County; California

0 Estimate!!Households!!Total Margin of Error!!Households!!Total  \
1                        1316                                142
2                         861                                 86
3                        2713                                273
4                        1803                                173
5                        1655                                283

0 Estimate!!Households!!Total!!Less than $10,000  \
1                                            6.0
2                                            1.4
3                                            4.4
4                                            0.4
5                                            1.5

0 Margin of Error!!Households!!Total!!Less than $10,000  \
1                                                5.8
2                                                1.7
3                                                3.8
4                                                0.8
5                                                1.5

0 Estimate!!Households!!Total!!$10,000 to $14,999  \
1                                             0.0
2                                             1.7
3                                             3.5
4                                             0.4
5                                             2.2

0 Margin of Error!!Households!!Total!!$10,000 to $14,999  \
1                                                3.2
2                                                1.5
3                                                2.9
4                                                0.7
5                                                2.0

0 Estimate!!Households!!Total!!$15,000 to $24,999  \
1                                             1.8
2                                             1.6
3                                             3.6
4                                             7.0
5                                             8.8

0 Margin of Error!!Households!!Total!!$15,000 to $24,999  ...  \
1                                                2.9      ...
2                                                1.5      ...
3                                                3.2      ...
4                                                4.2      ...
5                                                4.7      ...

0 Estimate!!Nonfamily households!!Mean income (dollars)  \
1                                             225423
2                                             153186
3                                             126792
4                                             145833
5                                             105792

0 Margin of Error!!Nonfamily households!!Mean income (dollars)  \
1                                              62111
2                                              24879
3                                              23123
4                                              23424
5                                              17797

0 Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months  \
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)
5                                                (X)

0 Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months  \
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)
5                                                (X)

0 Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months  \
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)
5                                                (X)

0 Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months  \
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)
5                                                (X)

0 Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months  \
1                                               20.6
2                                               31.5
3                                               31.3
4                                               35.4
5                                               28.4

0 Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months  \
1                                                (X)
2                                                (X)
3                                                (X)
4                                                (X)
5                                                (X)

0 NaN  CensusTract
1 NaN  06001400100
2 NaN  06001400200
3 NaN  06001400300
4 NaN  06001400400
5 NaN  06001400500

[5 rows x 132 columns]

/tmp/ipykernel_554125/3038977342.py:9: DtypeWarning: Columns (2,3,34,35,66,67,98,99) have mixed types. Specify dtype option on import or set low_memory=False.
  Income = pd.read_csv(file_path)

In [287]:
# Print columns for merged_data
print("Columns in merged_data:")
print(merged_data.columns.tolist())

# Print columns for EdAttain
print("\nColumns in EdAttain:")
print(EdAttain.columns.tolist())

# Print columns for Income
print("\nColumns in Income:")
print(Income.columns.tolist())

# Print columns for zcta_census
print("\nColumns in zcta_census:")
print(zcta_census.columns.tolist())

Columns in merged_data:
['County Code', 'District Code', 'School Code', 'Filler', 'Test Year', 'Student Group ID', 'Test Type', 'Total Tested at Reporting Level', 'Total Tested with Scores at Reporting Level', 'Grade', 'Test ID', 'Students Enrolled', 'Students Tested', 'Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Met and Above', 'Percentage Standard Nearly Met', 'Percentage Standard Not Met', 'Students with Scores', 'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard', 'Type ID', 'County Name', 'District Name', 'School Name', 'Zip Code']

Columns in EdAttain:
['Geography', 'Geographic Area Name', 'Estimate!!Total:', 'Margin of Error!!Total:', 'Estimate!!Total:!!No schooling completed', 'Margin of Error!!Total:!!No schooling completed', 'Estimate!!Total:!!Nursery school', 'Margin of Error!!Total:!!Nursery school', 'Estimate!!Total:!!Kindergarten', 'Margin of Error!!Total:!!Kindergarten', 'Estimate!!Total:!!1st grade', 'Margin of Error!!Total:!!1st grade', 'Estimate!!Total:!!2nd grade', 'Margin of Error!!Total:!!2nd grade', 'Estimate!!Total:!!3rd grade', 'Margin of Error!!Total:!!3rd grade', 'Estimate!!Total:!!4th grade', 'Margin of Error!!Total:!!4th grade', 'Estimate!!Total:!!5th grade', 'Margin of Error!!Total:!!5th grade', 'Estimate!!Total:!!6th grade', 'Margin of Error!!Total:!!6th grade', 'Estimate!!Total:!!7th grade', 'Margin of Error!!Total:!!7th grade', 'Estimate!!Total:!!8th grade', 'Margin of Error!!Total:!!8th grade', 'Estimate!!Total:!!9th grade', 'Margin of Error!!Total:!!9th grade', 'Estimate!!Total:!!10th grade', 'Margin of Error!!Total:!!10th grade', 'Estimate!!Total:!!11th grade', 'Margin of Error!!Total:!!11th grade', 'Estimate!!Total:!!12th grade, no diploma', 'Margin of Error!!Total:!!12th grade, no diploma', 'Estimate!!Total:!!Regular high school diploma', 'Margin of Error!!Total:!!Regular high school diploma', 'Estimate!!Total:!!GED or alternative credential', 'Margin of Error!!Total:!!GED or alternative credential', 'Estimate!!Total:!!Some college, less than 1 year', 'Margin of Error!!Total:!!Some college, less than 1 year', 'Estimate!!Total:!!Some college, 1 or more years, no degree', 'Margin of Error!!Total:!!Some college, 1 or more years, no degree', "Estimate!!Total:!!Associate's degree", "Margin of Error!!Total:!!Associate's degree", "Estimate!!Total:!!Bachelor's degree", "Margin of Error!!Total:!!Bachelor's degree", "Estimate!!Total:!!Master's degree", "Margin of Error!!Total:!!Master's degree", 'Estimate!!Total:!!Professional school degree', 'Margin of Error!!Total:!!Professional school degree', 'Estimate!!Total:!!Doctorate degree', 'Margin of Error!!Total:!!Doctorate degree', np.float64(nan), 'CensusTract']

Columns in Income:
['Geography', 'Geographic Area Name', 'Estimate!!Households!!Total', 'Margin of Error!!Households!!Total', 'Estimate!!Households!!Total!!Less than $10,000', 'Margin of Error!!Households!!Total!!Less than $10,000', 'Estimate!!Households!!Total!!$10,000 to $14,999', 'Margin of Error!!Households!!Total!!$10,000 to $14,999', 'Estimate!!Households!!Total!!$15,000 to $24,999', 'Margin of Error!!Households!!Total!!$15,000 to $24,999', 'Estimate!!Households!!Total!!$25,000 to $34,999', 'Margin of Error!!Households!!Total!!$25,000 to $34,999', 'Estimate!!Households!!Total!!$35,000 to $49,999', 'Margin of Error!!Households!!Total!!$35,000 to $49,999', 'Estimate!!Households!!Total!!$50,000 to $74,999', 'Margin of Error!!Households!!Total!!$50,000 to $74,999', 'Estimate!!Households!!Total!!$75,000 to $99,999', 'Margin of Error!!Households!!Total!!$75,000 to $99,999', 'Estimate!!Households!!Total!!$100,000 to $149,999', 'Margin of Error!!Households!!Total!!$100,000 to $149,999', 'Estimate!!Households!!Total!!$150,000 to $199,999', 'Margin of Error!!Households!!Total!!$150,000 to $199,999', 'Estimate!!Households!!Total!!$200,000 or more', 'Margin of Error!!Households!!Total!!$200,000 or more', 'Estimate!!Households!!Median income (dollars)', 'Margin of Error!!Households!!Median income (dollars)', 'Estimate!!Households!!Mean income (dollars)', 'Margin of Error!!Households!!Mean income (dollars)', 'Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Margin of Error!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Estimate!!Households!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Margin of Error!!Households!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Estimate!!Households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Margin of Error!!Households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Estimate!!Families!!Total', 'Margin of Error!!Families!!Total', 'Estimate!!Families!!Total!!Less than $10,000', 'Margin of Error!!Families!!Total!!Less than $10,000', 'Estimate!!Families!!Total!!$10,000 to $14,999', 'Margin of Error!!Families!!Total!!$10,000 to $14,999', 'Estimate!!Families!!Total!!$15,000 to $24,999', 'Margin of Error!!Families!!Total!!$15,000 to $24,999', 'Estimate!!Families!!Total!!$25,000 to $34,999', 'Margin of Error!!Families!!Total!!$25,000 to $34,999', 'Estimate!!Families!!Total!!$35,000 to $49,999', 'Margin of Error!!Families!!Total!!$35,000 to $49,999', 'Estimate!!Families!!Total!!$50,000 to $74,999', 'Margin of Error!!Families!!Total!!$50,000 to $74,999', 'Estimate!!Families!!Total!!$75,000 to $99,999', 'Margin of Error!!Families!!Total!!$75,000 to $99,999', 'Estimate!!Families!!Total!!$100,000 to $149,999', 'Margin of Error!!Families!!Total!!$100,000 to $149,999', 'Estimate!!Families!!Total!!$150,000 to $199,999', 'Margin of Error!!Families!!Total!!$150,000 to $199,999', 'Estimate!!Families!!Total!!$200,000 or more', 'Margin of Error!!Families!!Total!!$200,000 or more', 'Estimate!!Families!!Median income (dollars)', 'Margin of Error!!Families!!Median income (dollars)', 'Estimate!!Families!!Mean income (dollars)', 'Margin of Error!!Families!!Mean income (dollars)', 'Estimate!!Families!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Margin of Error!!Families!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Estimate!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Margin of Error!!Families!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Estimate!!Families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Margin of Error!!Families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Estimate!!Married-couple families!!Total', 'Margin of Error!!Married-couple families!!Total', 'Estimate!!Married-couple families!!Total!!Less than $10,000', 'Margin of Error!!Married-couple families!!Total!!Less than $10,000', 'Estimate!!Married-couple families!!Total!!$10,000 to $14,999', 'Margin of Error!!Married-couple families!!Total!!$10,000 to $14,999', 'Estimate!!Married-couple families!!Total!!$15,000 to $24,999', 'Margin of Error!!Married-couple families!!Total!!$15,000 to $24,999', 'Estimate!!Married-couple families!!Total!!$25,000 to $34,999', 'Margin of Error!!Married-couple families!!Total!!$25,000 to $34,999', 'Estimate!!Married-couple families!!Total!!$35,000 to $49,999', 'Margin of Error!!Married-couple families!!Total!!$35,000 to $49,999', 'Estimate!!Married-couple families!!Total!!$50,000 to $74,999', 'Margin of Error!!Married-couple families!!Total!!$50,000 to $74,999', 'Estimate!!Married-couple families!!Total!!$75,000 to $99,999', 'Margin of Error!!Married-couple families!!Total!!$75,000 to $99,999', 'Estimate!!Married-couple families!!Total!!$100,000 to $149,999', 'Margin of Error!!Married-couple families!!Total!!$100,000 to $149,999', 'Estimate!!Married-couple families!!Total!!$150,000 to $199,999', 'Margin of Error!!Married-couple families!!Total!!$150,000 to $199,999', 'Estimate!!Married-couple families!!Total!!$200,000 or more', 'Margin of Error!!Married-couple families!!Total!!$200,000 or more', 'Estimate!!Married-couple families!!Median income (dollars)', 'Margin of Error!!Married-couple families!!Median income (dollars)', 'Estimate!!Married-couple families!!Mean income (dollars)', 'Margin of Error!!Married-couple families!!Mean income (dollars)', 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Margin of Error!!Married-couple families!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Margin of Error!!Married-couple families!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Estimate!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Margin of Error!!Married-couple families!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Estimate!!Nonfamily households!!Total', 'Margin of Error!!Nonfamily households!!Total', 'Estimate!!Nonfamily households!!Total!!Less than $10,000', 'Margin of Error!!Nonfamily households!!Total!!Less than $10,000', 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999', 'Margin of Error!!Nonfamily households!!Total!!$10,000 to $14,999', 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999', 'Margin of Error!!Nonfamily households!!Total!!$15,000 to $24,999', 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999', 'Margin of Error!!Nonfamily households!!Total!!$25,000 to $34,999', 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999', 'Margin of Error!!Nonfamily households!!Total!!$35,000 to $49,999', 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999', 'Margin of Error!!Nonfamily households!!Total!!$50,000 to $74,999', 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999', 'Margin of Error!!Nonfamily households!!Total!!$75,000 to $99,999', 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999', 'Margin of Error!!Nonfamily households!!Total!!$100,000 to $149,999', 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999', 'Margin of Error!!Nonfamily households!!Total!!$150,000 to $199,999', 'Estimate!!Nonfamily households!!Total!!$200,000 or more', 'Margin of Error!!Nonfamily households!!Total!!$200,000 or more', 'Estimate!!Nonfamily households!!Median income (dollars)', 'Margin of Error!!Nonfamily households!!Median income (dollars)', 'Estimate!!Nonfamily households!!Mean income (dollars)', 'Margin of Error!!Nonfamily households!!Mean income (dollars)', 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months', 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months', 'Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', 'Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months', np.float64(nan), 'CensusTract']

Columns in zcta_census:
['ZCTA5', 'Name', 'CensusTract']

In [288]:
# Merge merged_data with zcta_census on Zip Code and ZCTA5
merged_data = merged_data.merge(zcta_census[['ZCTA5', 'CensusTract']], left_on='Zip Code', right_on='ZCTA5', how='left')

# Ensure CensusTract column is of string type to retain leading zeros
merged_data['CensusTract'] = merged_data['CensusTract'].astype(str)

# Drop the ZCTA5 column as it is no longer needed
merged_data = merged_data.drop(columns=['ZCTA5'])

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

   County Code  District Code  School Code  Filler  Test Year  \
0            1          10017       112607     NaN       2021
1            1          10017       112607     NaN       2021
2            1          10017       112607     NaN       2021
3            1          10017       112607     NaN       2021
4            1          10017       112607     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                             108
1                 1         B                             108
2                 1         B                             108
3                 1         B                             108
4                 1         B                             108

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                         106      6  ...
1                                         106      6  ...
2                                         106      6  ...
3                                         106      6  ...
4                                         106      6  ...

   Area 3 Percentage Below Standard Area 4 Percentage Above Standard  \
0                                 *                                *
1                                 *                                *
2                                 *                                *
3                                 *                                *
4                                 *                                *

  Area 4 Percentage Near Standard Area 4 Percentage Below Standard Type ID  \
0                               *                                *       9
1                               *                                *       9
2                               *                                *       9
3                               *                                *       9
4                               *                                *       9

  County Name                           District Name  \
0     Alameda  Envision Academy for Arts & Technology
1     Alameda  Envision Academy for Arts & Technology
2     Alameda  Envision Academy for Arts & Technology
3     Alameda  Envision Academy for Arts & Technology
4     Alameda  Envision Academy for Arts & Technology

                              School Name Zip Code  CensusTract
0  Envision Academy for Arts & Technology    94612  06001401300
1  Envision Academy for Arts & Technology    94612  06001401400
2  Envision Academy for Arts & Technology    94612  06001401600
3  Envision Academy for Arts & Technology    94612  06001402600
4  Envision Academy for Arts & Technology    94612  06001402700

[5 rows x 38 columns]

In [289]:
# Drop the 'Filler' column from merged_data
merged_data = merged_data.drop(columns=['Filler', 'Mean Scale Score'])

# Drop all columns that start with the word 'Area'
area_columns = [col for col in merged_data.columns if col.startswith('Area')]
merged_data = merged_data.drop(columns=area_columns)

# drop all rows where Percentage standard met and Percentage standard exceeded are NaN
merged_data = merged_data.dropna(subset=['Percentage Standard Met', 'Percentage Standard Exceeded'])

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

   County Code  District Code  School Code  Test Year  Student Group ID  \
0            1          10017       112607       2021                 1
1            1          10017       112607       2021                 1
2            1          10017       112607       2021                 1
3            1          10017       112607       2021                 1
4            1          10017       112607       2021                 1

  Test Type Total Tested at Reporting Level  \
0         B                             108
1         B                             108
2         B                             108
3         B                             108
4         B                             108

  Total Tested with Scores at Reporting Level  Grade  Test ID  ...  \
0                                         106      6        1  ...
1                                         106      6        1  ...
2                                         106      6        1  ...
3                                         106      6        1  ...
4                                         106      6        1  ...

  Percentage Standard Met and Above Percentage Standard Nearly Met  \
0                             26.32                          15.79
1                             26.32                          15.79
2                             26.32                          15.79
3                             26.32                          15.79
4                             26.32                          15.79

  Percentage Standard Not Met Students with Scores Type ID County Name  \
0                       57.89                   19       9     Alameda
1                       57.89                   19       9     Alameda
2                       57.89                   19       9     Alameda
3                       57.89                   19       9     Alameda
4                       57.89                   19       9     Alameda

                            District Name  \
0  Envision Academy for Arts & Technology
1  Envision Academy for Arts & Technology
2  Envision Academy for Arts & Technology
3  Envision Academy for Arts & Technology
4  Envision Academy for Arts & Technology

                              School Name  Zip Code  CensusTract
0  Envision Academy for Arts & Technology     94612  06001401300
1  Envision Academy for Arts & Technology     94612  06001401400
2  Envision Academy for Arts & Technology     94612  06001401600
3  Envision Academy for Arts & Technology     94612  06001402600
4  Envision Academy for Arts & Technology     94612  06001402700

[5 rows x 24 columns]

In [290]:
# Check for null values in each column
null_values = merged_data.isnull().sum()

# Print the columns with their respective count of null values
print(null_values)

County Code                                    0
District Code                                  0
School Code                                    0
Test Year                                      0
Student Group ID                               0
Test Type                                      0
Total Tested at Reporting Level                0
Total Tested with Scores at Reporting Level    0
Grade                                          0
Test ID                                        0
Students Enrolled                              0
Students Tested                                0
Percentage Standard Exceeded                   0
Percentage Standard Met                        0
Percentage Standard Met and Above              0
Percentage Standard Nearly Met                 0
Percentage Standard Not Met                    0
Students with Scores                           0
Type ID                                        0
County Name                                    0
District Name                                  0
School Name                                    0
Zip Code                                       0
CensusTract                                    0
dtype: int64

In [291]:
# Define the save path and save file name for the merged data
# merged_save_path = os.path.join(cwd, SavePath, 'merged.csv')

# Save the merged dataframe to a CSV file
# merged_data.to_csv(merged_save_path, index=False)

# print(f"Data saved to {merged_save_path}")

In [292]:
# Create a connection to the SQLite database
conn = sqlite3.connect(os.path.join(SavePath, 'school_performance.db'))

# Save the dataframes to the SQLite database
merged_data.to_sql('SchoolPerform', conn, if_exists='replace', index=False)
EdAttain.to_sql('EdAttain', conn, if_exists='replace', index=False)
Income.to_sql('Income', conn, if_exists='replace', index=False)

# Commit the changes and close the connection
conn.commit()
conn.close()