In [206]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import os
import sys

In [207]:

# Define the current working directory
cwd = os.getcwd()

# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021_all_csv_v2.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(data.head())

/tmp/ipykernel_178311/1414196001.py:12: DtypeWarning: Columns (7,8,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 2 Percentage Above Standard Area 2 Percentage Near Standard  \
0                             12.98                           50.72
1                             10.93                           49.51
2                             15.08                           51.97
3                             16.21                           54.66
4                             33.84                           52.05

  Area 2 Percentage Below Standard Area 3 Percentage Above Standard  \
0                            36.30                            10.49
1                            39.57                             9.89
2                            32.95                            11.11
3                            29.13                            12.80
4                            14.11                            23.18

  Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                           71.78                            17.72
1                           71.55                            18.56
2                           72.02                            16.86
3                           72.67                            14.52
4                           69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID
0                            21.77       4
1                            23.45       4
2                            20.06       4
3                            17.10       4
4                             6.87       4

[5 rows x 33 columns]

In [208]:
# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021entities_csv.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
entitiy = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(entitiy.head())

   County Code  District Code  School Code  Filler  Test Year  Type ID  \
0            0              0            0     NaN       2021        4
1            1              0            0     NaN       2021        5
2            1          10017            0     NaN       2021        6
3            1          10017       112607     NaN       2021        9
4            1          10017       124172     NaN       2021        9

           County Name                           District Name  \
0  State of California                                     NaN
1              Alameda                                     NaN
2              Alameda      Alameda County Office of Education
3              Alameda  Envision Academy for Arts & Technology
4              Alameda                         Yu Ming Charter

                              School Name Zip Code Unnamed: 10 Unnamed: 11  \
0                                     NaN      NaN         NaN         NaN
1                                     NaN      NaN         NaN         NaN
2                                     NaN      NaN         NaN         NaN
3  Envision Academy for Arts & Technology    94612         NaN         NaN
4                         Yu Ming Charter    94608         NaN         NaN

  Unnamed: 12  Unnamed: 13
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

In [209]:
# Merge the dataframes on 'County Code', 'District Code', and 'School Code'
merged_data = data.merge(entitiy[['County Code', 'District Code', 'School Code', 'County Name', 'District Name', 'School Name', 'Zip Code']],
                         on=['County Code', 'District Code', 'School Code'],
                         how='left')

# Print the first few rows of the merged dataframe
print(merged_data.head())

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                            71.78                            17.72
1                            71.55                            18.56
2                            72.02                            16.86
3                            72.67                            14.52
4                            69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID          County Name District Name  \
0                            21.77       4  State of California           NaN
1                            23.45       4  State of California           NaN
2                            20.06       4  State of California           NaN
3                            17.10       4  State of California           NaN
4                             6.87       4  State of California           NaN

  School Name Zip Code
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

[5 rows x 37 columns]

In [210]:
# Delete all rows where 'School Code' is 0
merged_data = merged_data[merged_data['School Code'] != 0]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1901            1          10017       112607     NaN       2021
1902            1          10017       112607     NaN       2021
1903            1          10017       112607     NaN       2021
1904            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1901                 3         B                              56
1902                 4         B                              52
1903                 6         B                              93
1904                 7         B                               *

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1901                                          56      6  ...
1902                                          50      6  ...
1903                                          91      6  ...
1904                                           *      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1901                                *                                *
1902                                *                                *
1903                                *                                *
1904                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1901                                *                               *
1902                                *                               *
1903                                *                               *
1904                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1901                                *       9     Alameda
1902                                *       9     Alameda
1903                                *       9     Alameda
1904                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1901  Envision Academy for Arts & Technology
1902  Envision Academy for Arts & Technology
1903  Envision Academy for Arts & Technology
1904  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1901  Envision Academy for Arts & Technology    94612
1902  Envision Academy for Arts & Technology    94612
1903  Envision Academy for Arts & Technology    94612
1904  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [211]:
# Check for rows where 'County Code' or 'District Code' is equal to 0
county_code_zero = merged_data[merged_data['County Code'] == 0]
district_code_zero = merged_data[merged_data['District Code'] == 0]

# Print the number of rows found
print(f"Rows with 'County Code' equal to 0: {len(county_code_zero)}")
print(f"Rows with 'District Code' equal to 0: {len(district_code_zero)}")

Rows with 'County Code' equal to 0: 0
Rows with 'District Code' equal to 0: 0

In [212]:
# Check for duplicated rows
duplicated_rows = merged_data[merged_data.duplicated()]

# Print the number of duplicated rows found
print(f"Number of duplicated rows: {len(duplicated_rows)}")

# Print the duplicated rows
print(duplicated_rows)

Number of duplicated rows: 0
Empty DataFrame
Columns: [County Code, District Code, School Code, Filler, Test Year, Student Group ID, Test Type, Total Tested at Reporting Level, Total Tested with Scores at Reporting Level, Grade, Test ID, Students Enrolled, Students Tested, Mean Scale Score, Percentage Standard Exceeded, Percentage Standard Met, Percentage Standard Met and Above, Percentage Standard Nearly Met, Percentage Standard Not Met, Students with Scores, Area 1 Percentage Above Standard, Area 1 Percentage Near Standard, Area 1 Percentage Below Standard, Area 2 Percentage Above Standard, Area 2 Percentage Near Standard, Area 2 Percentage Below Standard, Area 3 Percentage Above Standard, Area 3 Percentage Near Standard, Area 3 Percentage Below Standard, Area 4 Percentage Above Standard, Area 4 Percentage Near Standard, Area 4 Percentage Below Standard, Type ID, County Name, District Name, School Name, Zip Code]
Index: []

[0 rows x 37 columns]

In [213]:
# Drop all rows where 'Student Group ID' is not equal to 1
# Student Group ID of 1 corresponds to all students
merged_data = merged_data[merged_data['Student Group ID'] == 1]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1933            1          10017       112607     NaN       2021
1965            1          10017       112607     NaN       2021
1999            1          10017       112607     NaN       2021
2033            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1933                 1         B                             108
1965                 1         B                             108
1999                 1         B                             108
2033                 1         B                             111

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1933                                         106      7  ...
1965                                         106     11  ...
1999                                         106     13  ...
2033                                         105      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1933                                *                                *
1965                            75.41                             8.20
1999                            71.70                            16.04
2033                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1933                                *                               *
1965                            26.23                           65.57
1999                            19.81                           62.26
2033                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1933                                *       9     Alameda
1965                             8.20       9     Alameda
1999                            17.92       9     Alameda
2033                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1933  Envision Academy for Arts & Technology
1965  Envision Academy for Arts & Technology
1999  Envision Academy for Arts & Technology
2033  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1933  Envision Academy for Arts & Technology    94612
1965  Envision Academy for Arts & Technology    94612
1999  Envision Academy for Arts & Technology    94612
2033  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [214]:
# List columns by data type
columns_by_type = {
    'int64': merged_data.select_dtypes(include='int64').columns.tolist(),
    'float64': merged_data.select_dtypes(include='float64').columns.tolist(),
    'object': merged_data.select_dtypes(include='object').columns.tolist()
}

print(columns_by_type)

{'int64': ['County Code', 'District Code', 'School Code', 'Test Year', 'Student Group ID', 'Grade', 'Test ID', 'Type ID'], 'float64': ['Filler'], 'object': ['Test Type', 'Total Tested at Reporting Level', 'Total Tested with Scores at Reporting Level', 'Students Enrolled', 'Students Tested', 'Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Met and Above', 'Percentage Standard Nearly Met', 'Percentage Standard Not Met', 'Students with Scores', 'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard', 'County Name', 'District Name', 'School Name', 'Zip Code']}

In [215]:
# Ensure 'County Code' is a string to preserve leading zeros
merged_data['County Code'] = merged_data['County Code'].astype(str).str.zfill(2)

# Check if all 'County Code' values are two digits
all_two_digits = merged_data['County Code'].str.len().unique()

print(f"All 'County Code' values are two digits: {all_two_digits}")
print(merged_data[['County Code']].head())

All 'County Code' values are two digits: [2]
     County Code
1900          01
1933          01
1965          01
1999          01
2033          01

In [216]:
# Ensure 'District Code' is a string to preserve leading zeros
merged_data['District Code'] = merged_data['District Code'].astype(str).str.zfill(5)

# Check if all 'District Code' values are five digits
all_five_digits = merged_data['District Code'].str.match(r'^\d{5}$').all()

print(f"All 'District Code' values are five digits: {all_five_digits}")
print(merged_data[['District Code']].head())

All 'District Code' values are five digits: True
     District Code
1900         10017
1933         10017
1965         10017
1999         10017
2033         10017

In [217]:
# Ensure 'School Code' is a string to preserve leading zeros
merged_data['School Code'] = merged_data['School Code'].astype(str).str.zfill(7)

# Check if all 'School Code' values are seven digits
all_seven_digits = merged_data['School Code'].str.match(r'^\d{7}$').all()

print(f"All 'School Code' values are seven digits: {all_seven_digits}")
print(merged_data[['School Code']].head())

All 'School Code' values are seven digits: True
     School Code
1900     0112607
1933     0112607
1965     0112607
1999     0112607
2033     0112607

In [218]:
# Combine 'County Code', 'District Code', and 'School Code' into a new column 'CDS code'
merged_data['CDS code'] = merged_data['County Code'] + merged_data['District Code'] + merged_data['School Code']

# Print the first few rows to verify
print(merged_data[['County Code', 'District Code', 'School Code', 'CDS code']].head())

# Check if all 'CDS code' values are 14 digits
all_fourteen_digits = merged_data['CDS code'].str.match(r'^\d{14}$').all()

print(f"All 'CDS code' values are fourteen digits: {all_fourteen_digits}")

     County Code District Code School Code        CDS code
1900          01         10017     0112607  01100170112607
1933          01         10017     0112607  01100170112607
1965          01         10017     0112607  01100170112607
1999          01         10017     0112607  01100170112607
2033          01         10017     0112607  01100170112607
All 'CDS code' values are fourteen digits: True

In [219]:
# Define the current working directory
# cwd = os.getcwd()

# Define the save path and save file name
# SavePath = 'data/CalSchoolPerf/'
SaveFile = 'nces-cali.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
ncescali = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(ncescali.head())

         CDSCode NCESDist NCESSchool StatusType   County  \
0  1100170000000   691051    No Data     Active  Alameda
1  1100170109835   691051      10546     Closed  Alameda
2  1100170112607   691051      10947     Active  Alameda
3  1100170118489   691051      12283     Closed  Alameda
4  1100170123968   691051      12844     Active  Alameda

                             District  \
0  Alameda County Office of Education
1  Alameda County Office of Education
2  Alameda County Office of Education
3  Alameda County Office of Education
4  Alameda County Office of Education

                                          School  \
0                                        No Data
1                            FAME Public Charter
2         Envision Academy for Arts & Technology
3  Aspire California College Preparatory Academy
4        Community School for Creative Education

                         Street                 StreetAbr  \
0        313 West Winton Avenue      313 West Winton Ave.
1         39899 Balentine Drive                 Suite 335
2           1515 Webster Street          1515 Webster St.
3         2125 Jefferson Avenue       2125 Jefferson Ave.
4  2111 International Boulevard  2111 International Blvd.

                  City  ... Unnamed: 52 Unnamed: 53 Unnamed: 54 Unnamed: 55  \
0              Hayward  ...         NaN         NaN         NaN         NaN
1  39899 Balentine Dr.  ...         NaN         NaN         NaN         NaN
2              Oakland  ...         NaN         NaN         NaN         NaN
3             Berkeley  ...         NaN         NaN         NaN         NaN
4              Oakland  ...         NaN         NaN         NaN         NaN

  Unnamed: 56 Unnamed: 57 Unnamed: 58 Unnamed: 59 Unnamed: 60 Unnamed: 61
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

[5 rows x 62 columns]

/tmp/ipykernel_178311/2475412190.py:12: DtypeWarning: Columns (54,58,59,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  ncescali = pd.read_csv(file_path)

In [220]:
# Delete all rows where 'StatusType' is 'Closed'
ncescali = ncescali[ncescali['StatusType'] != 'Closed']
# Delete all rows where 'NCESSchool' is 'No Data'
ncescali = ncescali[ncescali['NCESSchool'] != 'No Data']

# Drop all columns except 'NCESSchool', 'NCESDist', and 'CDSCode'
ncescali = ncescali[['NCESSchool', 'NCESDist', 'CDSCode']]

# Combine 'NCESDist' and 'NCESSchool' into a new column 'NCES'
ncescali['NCES'] = ncescali['NCESDist'] + ncescali['NCESSchool']

# Print the first few rows of the updated dataframe to verify
print(ncescali.head())

  NCESSchool NCESDist        CDSCode         NCES
2      10947   691051  1100170112607  69105110947
4      12844   691051  1100170123968  69105112844
5      12901   691051  1100170124172  69105112901
6      13008   691051  1100170125567  69105113008
7      13772   691051  1100170129403  69105113772

In [221]:
# Check if all 'CDSCode' values are 14 digits
all_fourteen_digits = ncescali['CDSCode'].astype(str).str.match(r'^\d{14}$').all()

print(f"All 'CDSCode' values are fourteen digits: {all_fourteen_digits}")

# Count the number of 'CDSCode' values that are not 14 digits
not_fourteen_digits_count = ncescali['CDSCode'].astype(str).str.len().ne(14).sum()

print(f"Number of 'CDSCode' values that are not fourteen digits: {not_fourteen_digits_count}")

# Add leading zeros to 'CDSCode' values that are not 14 digits
ncescali['CDSCode'] = ncescali['CDSCode'].astype(str).str.zfill(14)

# Verify the changes
not_fourteen_digits_count = ncescali['CDSCode'].astype(str).str.len().ne(14).sum()
print(f"Number of 'CDSCode' values that are not fourteen digits after correction: {not_fourteen_digits_count}")

All 'CDSCode' values are fourteen digits: False
Number of 'CDSCode' values that are not fourteen digits: 952
Number of 'CDSCode' values that are not fourteen digits after correction: 0

In [222]:
# Merge the dataframes on 'CDS code' and 'CDSCode'
merged_data = merged_data.merge(ncescali[['CDSCode', 'NCES']], left_on='CDS code', right_on='CDSCode', how='left')

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

  County Code District Code School Code  Filler  Test Year  Student Group ID  \
0          01         10017     0112607     NaN       2021                 1
1          01         10017     0112607     NaN       2021                 1
2          01         10017     0112607     NaN       2021                 1
3          01         10017     0112607     NaN       2021                 1
4          01         10017     0112607     NaN       2021                 1

  Test Type Total Tested at Reporting Level  \
0         B                             108
1         B                             108
2         B                             108
3         B                             108
4         B                             111

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                         106      6  ...
1                                         106      7  ...
2                                         106     11  ...
3                                         106     13  ...
4                                         105      6  ...

   Area 4 Percentage Near Standard Area 4 Percentage Below Standard Type ID  \
0                                *                                *       9
1                                *                                *       9
2                            65.57                             8.20       9
3                            62.26                            17.92       9
4                                *                                *       9

  County Name                           District Name  \
0     Alameda  Envision Academy for Arts & Technology
1     Alameda  Envision Academy for Arts & Technology
2     Alameda  Envision Academy for Arts & Technology
3     Alameda  Envision Academy for Arts & Technology
4     Alameda  Envision Academy for Arts & Technology

                              School Name Zip Code        CDS code  \
0  Envision Academy for Arts & Technology    94612  01100170112607
1  Envision Academy for Arts & Technology    94612  01100170112607
2  Envision Academy for Arts & Technology    94612  01100170112607
3  Envision Academy for Arts & Technology    94612  01100170112607
4  Envision Academy for Arts & Technology    94612  01100170112607

          CDSCode         NCES
0  01100170112607  69105110947
1  01100170112607  69105110947
2  01100170112607  69105110947
3  01100170112607  69105110947
4  01100170112607  69105110947

[5 rows x 40 columns]

In [223]:
# Check for null values in each column
null_values = merged_data.isnull().sum()

# Print the columns with their respective count of null values
print(null_values)

County Code                                        0
District Code                                      0
School Code                                        0
Filler                                         85805
Test Year                                          0
Student Group ID                                   0
Test Type                                          0
Total Tested at Reporting Level                    0
Total Tested with Scores at Reporting Level        0
Grade                                              0
Test ID                                            0
Students Enrolled                                  0
Students Tested                                    0
Mean Scale Score                               64673
Percentage Standard Exceeded                   57107
Percentage Standard Met                        57107
Percentage Standard Met and Above              57107
Percentage Standard Nearly Met                 57107
Percentage Standard Not Met                    57107
Students with Scores                               0
Area 1 Percentage Above Standard               57107
Area 1 Percentage Near Standard                57107
Area 1 Percentage Below Standard               57107
Area 2 Percentage Above Standard               57107
Area 2 Percentage Near Standard                57107
Area 2 Percentage Below Standard               57107
Area 3 Percentage Above Standard               57107
Area 3 Percentage Near Standard                57107
Area 3 Percentage Below Standard               57107
Area 4 Percentage Above Standard               57107
Area 4 Percentage Near Standard                57107
Area 4 Percentage Below Standard               57107
Type ID                                            0
County Name                                        0
District Name                                      0
School Name                                        0
Zip Code                                           0
CDS code                                           0
CDSCode                                         5102
NCES                                            5102
dtype: int64

In [224]:
# Define the save path and save file name for the merged data
merged_save_path = os.path.join(cwd, SavePath, 'merged.csv')

# Save the merged dataframe to a CSV file
merged_data.to_csv(merged_save_path, index=False)

print(f"Data saved to {merged_save_path}")

Data saved to /home/philip/DataAnalytics/eddata/data/CalSchoolPerf/merged.csv