In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import os
import sys

In [32]:

# Define the current working directory
cwd = os.getcwd()

# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021_all_csv_v2.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(data.head())

/tmp/ipykernel_554125/1414196001.py:12: DtypeWarning: Columns (7,8,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 2 Percentage Above Standard Area 2 Percentage Near Standard  \
0                             12.98                           50.72
1                             10.93                           49.51
2                             15.08                           51.97
3                             16.21                           54.66
4                             33.84                           52.05

  Area 2 Percentage Below Standard Area 3 Percentage Above Standard  \
0                            36.30                            10.49
1                            39.57                             9.89
2                            32.95                            11.11
3                            29.13                            12.80
4                            14.11                            23.18

  Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                           71.78                            17.72
1                           71.55                            18.56
2                           72.02                            16.86
3                           72.67                            14.52
4                           69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID
0                            21.77       4
1                            23.45       4
2                            20.06       4
3                            17.10       4
4                             6.87       4

[5 rows x 33 columns]

In [33]:
# Define the save path and save file name
SavePath = 'data/CalSchoolPerf/'
SaveFile = 'sb_ca2021entities_csv.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
entitiy = pd.read_csv(file_path)

# Print the first few rows of the DataFrame
print(entitiy.head())

   County Code  District Code  School Code  Filler  Test Year  Type ID  \
0            0              0            0     NaN       2021        4
1            1              0            0     NaN       2021        5
2            1          10017            0     NaN       2021        6
3            1          10017       112607     NaN       2021        9
4            1          10017       124172     NaN       2021        9

           County Name                           District Name  \
0  State of California                                     NaN
1              Alameda                                     NaN
2              Alameda      Alameda County Office of Education
3              Alameda  Envision Academy for Arts & Technology
4              Alameda                         Yu Ming Charter

                              School Name Zip Code Unnamed: 10 Unnamed: 11  \
0                                     NaN      NaN         NaN         NaN
1                                     NaN      NaN         NaN         NaN
2                                     NaN      NaN         NaN         NaN
3  Envision Academy for Arts & Technology    94612         NaN         NaN
4                         Yu Ming Charter    94608         NaN         NaN

  Unnamed: 12  Unnamed: 13
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

In [34]:
# Merge the dataframes on 'County Code', 'District Code', and 'School Code'
merged_data = data.merge(entitiy[['County Code', 'District Code', 'School Code', 'County Name', 'District Name', 'School Name', 'Zip Code']],
                         on=['County Code', 'District Code', 'School Code'],
                         how='left')

# Print the first few rows of the merged dataframe
print(merged_data.head())

   County Code  District Code  School Code  Filler  Test Year  \
0            0              0            0     NaN       2021
1            0              0            0     NaN       2021
2            0              0            0     NaN       2021
3            0              0            0     NaN       2021
4            0              0            0     NaN       2021

   Student Group ID Test Type Total Tested at Reporting Level  \
0                 1         B                          743626
1                 3         B                          375522
2                 4         B                          367928
3                 6         B                          628259
4                 7         B                           31747

  Total Tested with Scores at Reporting Level  Grade  ...  \
0                                      736192      3  ...
1                                      371742      3  ...
2                                      364279      3  ...
3                                      622358      3  ...
4                                       31503      3  ...

   Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
0                            71.78                            17.72
1                            71.55                            18.56
2                            72.02                            16.86
3                            72.67                            14.52
4                            69.33                             7.50

  Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
0                            16.57                           61.65
1                            15.53                           61.02
2                            17.64                           62.30
3                            20.29                           62.62
4                            37.74                           55.39

  Area 4 Percentage Below Standard Type ID          County Name District Name  \
0                            21.77       4  State of California           NaN
1                            23.45       4  State of California           NaN
2                            20.06       4  State of California           NaN
3                            17.10       4  State of California           NaN
4                             6.87       4  State of California           NaN

  School Name Zip Code
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

[5 rows x 37 columns]

In [35]:
# Delete all rows where 'School Code' is 0
merged_data = merged_data[merged_data['School Code'] != 0]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1901            1          10017       112607     NaN       2021
1902            1          10017       112607     NaN       2021
1903            1          10017       112607     NaN       2021
1904            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1901                 3         B                              56
1902                 4         B                              52
1903                 6         B                              93
1904                 7         B                               *

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1901                                          56      6  ...
1902                                          50      6  ...
1903                                          91      6  ...
1904                                           *      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1901                                *                                *
1902                                *                                *
1903                                *                                *
1904                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1901                                *                               *
1902                                *                               *
1903                                *                               *
1904                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1901                                *       9     Alameda
1902                                *       9     Alameda
1903                                *       9     Alameda
1904                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1901  Envision Academy for Arts & Technology
1902  Envision Academy for Arts & Technology
1903  Envision Academy for Arts & Technology
1904  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1901  Envision Academy for Arts & Technology    94612
1902  Envision Academy for Arts & Technology    94612
1903  Envision Academy for Arts & Technology    94612
1904  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [36]:
# Check for rows where 'County Code' or 'District Code' is equal to 0
county_code_zero = merged_data[merged_data['County Code'] == 0]
district_code_zero = merged_data[merged_data['District Code'] == 0]

# Print the number of rows found
print(f"Rows with 'County Code' equal to 0: {len(county_code_zero)}")
print(f"Rows with 'District Code' equal to 0: {len(district_code_zero)}")

Rows with 'County Code' equal to 0: 0
Rows with 'District Code' equal to 0: 0

In [37]:
# Check for duplicated rows
duplicated_rows = merged_data[merged_data.duplicated()]

# Print the number of duplicated rows found
print(f"Number of duplicated rows: {len(duplicated_rows)}")

# Print the duplicated rows
print(duplicated_rows)

Number of duplicated rows: 0
Empty DataFrame
Columns: [County Code, District Code, School Code, Filler, Test Year, Student Group ID, Test Type, Total Tested at Reporting Level, Total Tested with Scores at Reporting Level, Grade, Test ID, Students Enrolled, Students Tested, Mean Scale Score, Percentage Standard Exceeded, Percentage Standard Met, Percentage Standard Met and Above, Percentage Standard Nearly Met, Percentage Standard Not Met, Students with Scores, Area 1 Percentage Above Standard, Area 1 Percentage Near Standard, Area 1 Percentage Below Standard, Area 2 Percentage Above Standard, Area 2 Percentage Near Standard, Area 2 Percentage Below Standard, Area 3 Percentage Above Standard, Area 3 Percentage Near Standard, Area 3 Percentage Below Standard, Area 4 Percentage Above Standard, Area 4 Percentage Near Standard, Area 4 Percentage Below Standard, Type ID, County Name, District Name, School Name, Zip Code]
Index: []

[0 rows x 37 columns]

In [38]:
# Drop all rows where 'Student Group ID' is not equal to 1
# Student Group ID of 1 corresponds to all students
merged_data = merged_data[merged_data['Student Group ID'] == 1]

# Print the first few rows of the updated dataframe to verify
print(merged_data.head())

      County Code  District Code  School Code  Filler  Test Year  \
1900            1          10017       112607     NaN       2021
1933            1          10017       112607     NaN       2021
1965            1          10017       112607     NaN       2021
1999            1          10017       112607     NaN       2021
2033            1          10017       112607     NaN       2021

      Student Group ID Test Type Total Tested at Reporting Level  \
1900                 1         B                             108
1933                 1         B                             108
1965                 1         B                             108
1999                 1         B                             108
2033                 1         B                             111

     Total Tested with Scores at Reporting Level  Grade  ...  \
1900                                         106      6  ...
1933                                         106      7  ...
1965                                         106     11  ...
1999                                         106     13  ...
2033                                         105      6  ...

      Area 3 Percentage Near Standard Area 3 Percentage Below Standard  \
1900                                *                                *
1933                                *                                *
1965                            75.41                             8.20
1999                            71.70                            16.04
2033                                *                                *

     Area 4 Percentage Above Standard Area 4 Percentage Near Standard  \
1900                                *                               *
1933                                *                               *
1965                            26.23                           65.57
1999                            19.81                           62.26
2033                                *                               *

     Area 4 Percentage Below Standard Type ID County Name  \
1900                                *       9     Alameda
1933                                *       9     Alameda
1965                             8.20       9     Alameda
1999                            17.92       9     Alameda
2033                                *       9     Alameda

                               District Name  \
1900  Envision Academy for Arts & Technology
1933  Envision Academy for Arts & Technology
1965  Envision Academy for Arts & Technology
1999  Envision Academy for Arts & Technology
2033  Envision Academy for Arts & Technology

                                 School Name Zip Code
1900  Envision Academy for Arts & Technology    94612
1933  Envision Academy for Arts & Technology    94612
1965  Envision Academy for Arts & Technology    94612
1999  Envision Academy for Arts & Technology    94612
2033  Envision Academy for Arts & Technology    94612

[5 rows x 37 columns]

In [39]:
# List columns by data type
columns_by_type = {
    'int64': merged_data.select_dtypes(include='int64').columns.tolist(),
    'float64': merged_data.select_dtypes(include='float64').columns.tolist(),
    'object': merged_data.select_dtypes(include='object').columns.tolist()
}

print(columns_by_type)

{'int64': ['County Code', 'District Code', 'School Code', 'Test Year', 'Student Group ID', 'Grade', 'Test ID', 'Type ID'], 'float64': ['Filler'], 'object': ['Test Type', 'Total Tested at Reporting Level', 'Total Tested with Scores at Reporting Level', 'Students Enrolled', 'Students Tested', 'Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Met and Above', 'Percentage Standard Nearly Met', 'Percentage Standard Not Met', 'Students with Scores', 'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard', 'County Name', 'District Name', 'School Name', 'Zip Code']}

In [ ]:
# Define the save path and save file name
SavePath = 'data/'
SaveFile = 'zctacensus.csv'

# Join the paths to create the full file path
file_path = os.path.join(cwd, SavePath, SaveFile)

# Read the CSV file into a DataFrame
zcta_census = pd.read_csv(file_path)

# Drop all rows where GEOID_ZCTA5_20 is NaN
zcta_census = zcta_census.dropna(subset=['GEOID_ZCTA5_20'])   

# Drop unnecessary columns
zcta_census = zcta_census[['GEOID_ZCTA5_20', 'NAMELSAD_ZCTA5_20', 'GEOID_TRACT_20']]

# Fix the data type of 'GEOID_ZCTA5_20'
zcta_census['GEOID_ZCTA5_20'] = zcta_census['GEOID_ZCTA5_20'].apply(lambda x: f"{int(x):05d}").astype(str)

# Print the first few rows of the DataFrame
print(zcta_census.head())

     GEOID_ZCTA5_20 NAMELSAD_ZCTA5_20  GEOID_TRACT_20
3268          00601       ZCTA5 00601     72001956300
3269          00601       ZCTA5 00601     72001956400
3270          00601       ZCTA5 00601     72001956500
3271          00601       ZCTA5 00601     72001956600
3272          00601       ZCTA5 00601     72001956700

In [41]:
# Check for null values in each column
null_values = merged_data.isnull().sum()

# Print the columns with their respective count of null values
print(null_values)

County Code                                        0
District Code                                      0
School Code                                        0
Filler                                         85805
Test Year                                          0
Student Group ID                                   0
Test Type                                          0
Total Tested at Reporting Level                    0
Total Tested with Scores at Reporting Level        0
Grade                                              0
Test ID                                            0
Students Enrolled                                  0
Students Tested                                    0
Mean Scale Score                               64673
Percentage Standard Exceeded                   57107
Percentage Standard Met                        57107
Percentage Standard Met and Above              57107
Percentage Standard Nearly Met                 57107
Percentage Standard Not Met                    57107
Students with Scores                               0
Area 1 Percentage Above Standard               57107
Area 1 Percentage Near Standard                57107
Area 1 Percentage Below Standard               57107
Area 2 Percentage Above Standard               57107
Area 2 Percentage Near Standard                57107
Area 2 Percentage Below Standard               57107
Area 3 Percentage Above Standard               57107
Area 3 Percentage Near Standard                57107
Area 3 Percentage Below Standard               57107
Area 4 Percentage Above Standard               57107
Area 4 Percentage Near Standard                57107
Area 4 Percentage Below Standard               57107
Type ID                                            0
County Name                                        0
District Name                                      0
School Name                                        0
Zip Code                                           0
dtype: int64

In [42]:
# Define the save path and save file name for the merged data
merged_save_path = os.path.join(cwd, SavePath, 'merged.csv')

# Save the merged dataframe to a CSV file
merged_data.to_csv(merged_save_path, index=False)

print(f"Data saved to {merged_save_path}")

Data saved to /home/philip/DataAnalytics/eddata/data/merged.csv