In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import scipy.stats as stats
import statsmodels.api as sm
import sqlite3

In [30]:
# Create a query to select the necessary data
query = """
SELECT 
    sp.CensusTract, 
    sp.Grade, 
    sp.[Percentage Standard Met and Above], 
    sp.[School Name], 
    ea.CensusTract, 
    ea.[Estimate!!Total:], 
    ea.[Estimate!!Total:!!No schooling completed],
    ea.[Estimate!!Total:!!Nursery school],
    ea.[Estimate!!Total:!!Kindergarten],
    ea.[Estimate!!Total:!!1st grade],
    ea.[Estimate!!Total:!!2nd grade],
    ea.[Estimate!!Total:!!3rd grade],
    ea.[Estimate!!Total:!!4th grade],
    ea.[Estimate!!Total:!!5th grade],
    ea.[Estimate!!Total:!!6th grade],
    ea.[Estimate!!Total:!!7th grade],
    ea.[Estimate!!Total:!!8th grade],
    ea.[Estimate!!Total:!!9th grade],
    ea.[Estimate!!Total:!!10th grade],
    ea.[Estimate!!Total:!!11th grade],
    ea.[Estimate!!Total:!!12th grade, no diploma],
    ea.[Estimate!!Total:!!Regular high school diploma],
    ea.[Estimate!!Total:!!GED or alternative credential],
    ea.[Estimate!!Total:!!Some college, less than 1 year],
    ea.[Estimate!!Total:!!Some college, 1 or more years, no degree],
    ea.[Estimate!!Total:!!Associate's degree],
    ea.[Estimate!!Total:!!Bachelor's degree],
    ea.[Estimate!!Total:!!Master's degree],
    ea.[Estimate!!Total:!!Professional school degree],
    ea.[Estimate!!Total:!!Doctorate degree],
    i.CensusTract, 
    i.[Estimate!!Households!!Total],
    i.[Estimate!!Households!!Total!!Less than $10,000],
    i.[Estimate!!Households!!Total!!$10,000 to $14,999],
    i.[Estimate!!Households!!Total!!$15,000 to $24,999],
    i.[Estimate!!Households!!Total!!$25,000 to $34,999],
    i.[Estimate!!Households!!Total!!$35,000 to $49,999],
    i.[Estimate!!Households!!Total!!$50,000 to $74,999],
    i.[Estimate!!Households!!Total!!$75,000 to $99,999],
    i.[Estimate!!Households!!Total!!$100,000 to $149,999],
    i.[Estimate!!Households!!Total!!$150,000 to $199,999],
    i.[Estimate!!Households!!Total!!$200,000 or more],
    i.[Estimate!!Households!!Median income (dollars)],
    i.[Estimate!!Households!!Mean income (dollars)]
FROM 
    SchoolPerform sp
JOIN 
    EdAttain ea ON sp.CensusTract = ea.CensusTract
JOIN 
    Income i ON sp.CensusTract = i.CensusTract
"""

# Define the database file path
db_file = '/home/philip/DataAnalytics/eddata/data/school_performance.db'

# Connect to the SQLite database
conn = sqlite3.connect(db_file)

# Load the query results into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the DataFrame
df.head()

,CensusTract,Grade,Percentage Standard Met and Above,School Name,CensusTract,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,...,"Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more",Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars)
0,06001401300,6,26.32,Envision Academy for Arts & Technology,06001401300,3541,104,0,0,0,...,2.7,4.3,7.8,5.8,11.2,32.8,8.8,16.7,105556,133185
1,06001401400,6,26.32,Envision Academy for Arts & Technology,06001401400,3655,74,0,0,0,...,3.0,7.5,4.2,8.2,14.8,23.1,6.7,13.6,87208,101569
2,06001401600,6,26.32,Envision Academy for Arts & Technology,06001401600,1777,59,0,0,0,...,5.2,3.5,7.0,11.1,9.6,9.8,10.0,36.4,135234,162072
3,06001402600,6,26.32,Envision Academy for Arts & Technology,06001402600,979,64,0,6,0,...,11.2,0.0,13.2,15.5,6.4,5.7,5.7,13.7,48362,101047
4,06001402700,6,26.32,Envision Academy for Arts & Technology,06001402700,1577,36,0,0,0,...,5.1,4.2,5.4,5.5,8.6,21.4,5.8,22.1,97250,132023

In [31]:
# Convert necessary columns to numeric
cols_to_convert = ['Estimate!!Total:', 'Estimate!!Total:!!No schooling completed', 'Estimate!!Total:!!Nursery school', 'Estimate!!Total:!!Kindergarten', 'Estimate!!Total:!!1st grade', 'Estimate!!Total:!!2nd grade', 'Estimate!!Total:!!3rd grade', 'Estimate!!Total:!!4th grade', 'Estimate!!Total:!!5th grade', 'Estimate!!Total:!!6th grade', 'Estimate!!Total:!!7th grade', 'Estimate!!Total:!!8th grade', 'Estimate!!Total:!!9th grade', 'Estimate!!Total:!!10th grade', 'Estimate!!Total:!!11th grade', 'Estimate!!Total:!!12th grade, no diploma', 'Estimate!!Total:!!Regular high school diploma', 'Estimate!!Total:!!GED or alternative credential', 'Estimate!!Total:!!Some college, less than 1 year', 'Estimate!!Total:!!Some college, 1 or more years, no degree', "Estimate!!Total:!!Associate's degree", "Estimate!!Total:!!Bachelor's degree", "Estimate!!Total:!!Master's degree", 'Estimate!!Total:!!Professional school degree', 'Estimate!!Total:!!Doctorate degree']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Calculate LessThanHS
df['LessThanHS'] = (
    df['Estimate!!Total:!!No schooling completed'] +
    df['Estimate!!Total:!!Nursery school'] +
    df['Estimate!!Total:!!Kindergarten'] +
    df['Estimate!!Total:!!1st grade'] +
    df['Estimate!!Total:!!2nd grade'] +
    df['Estimate!!Total:!!3rd grade'] +
    df['Estimate!!Total:!!4th grade'] +
    df['Estimate!!Total:!!5th grade'] +
    df['Estimate!!Total:!!6th grade'] +
    df['Estimate!!Total:!!7th grade'] +
    df['Estimate!!Total:!!8th grade'] +
    df['Estimate!!Total:!!9th grade'] +
    df['Estimate!!Total:!!10th grade'] +
    df['Estimate!!Total:!!11th grade'] +
    df['Estimate!!Total:!!12th grade, no diploma']
) / df['Estimate!!Total:']

# Calculate HSNoDegree
df['HSNoDegree'] = (
    df['Estimate!!Total:!!Regular high school diploma'] +
    df['Estimate!!Total:!!GED or alternative credential'] +
    df['Estimate!!Total:!!Some college, less than 1 year'] +
    df['Estimate!!Total:!!Some college, 1 or more years, no degree']
) / df['Estimate!!Total:']

# Calculate HasDegree
df['HasDegree'] = (
    df['Estimate!!Total:!!Associate\'s degree'] +
    df['Estimate!!Total:!!Bachelor\'s degree'] +
    df['Estimate!!Total:!!Master\'s degree'] +
    df['Estimate!!Total:!!Professional school degree'] +
    df['Estimate!!Total:!!Doctorate degree']
) / df['Estimate!!Total:']

# Display the updated DataFrame
df[['LessThanHS', 'HSNoDegree', 'HasDegree']].head()

   LessThanHS  HSNoDegree  HasDegree
0    0.089805    0.306128   0.604067
1    0.154036    0.318194   0.527770
2    0.159820    0.374226   0.465954
3    0.262513    0.279877   0.457610
4    0.127457    0.263792   0.608751

In [32]:
print(df.columns)
print(df.shape)
print(df.dtypes)
print(df.describe())
print(df.isnull().sum())

Index(['CensusTract', 'Grade', 'Percentage Standard Met and Above',
       'School Name', 'CensusTract', 'Estimate!!Total:',
       'Estimate!!Total:!!No schooling completed',
       'Estimate!!Total:!!Nursery school', 'Estimate!!Total:!!Kindergarten',
       'Estimate!!Total:!!1st grade', 'Estimate!!Total:!!2nd grade',
       'Estimate!!Total:!!3rd grade', 'Estimate!!Total:!!4th grade',
       'Estimate!!Total:!!5th grade', 'Estimate!!Total:!!6th grade',
       'Estimate!!Total:!!7th grade', 'Estimate!!Total:!!8th grade',
       'Estimate!!Total:!!9th grade', 'Estimate!!Total:!!10th grade',
       'Estimate!!Total:!!11th grade',
       'Estimate!!Total:!!12th grade, no diploma',
       'Estimate!!Total:!!Regular high school diploma',
       'Estimate!!Total:!!GED or alternative credential',
       'Estimate!!Total:!!Some college, less than 1 year',
       'Estimate!!Total:!!Some college, 1 or more years, no degree',
       'Estimate!!Total:!!Associate's degree',
       'Estimate!!Total:!!Bachelor's degree',
       'Estimate!!Total:!!Master's degree',
       'Estimate!!Total:!!Professional school degree',
       'Estimate!!Total:!!Doctorate degree', 'CensusTract',
       'Estimate!!Households!!Total',
       'Estimate!!Households!!Total!!Less than $10,000',
       'Estimate!!Households!!Total!!$10,000 to $14,999',
       'Estimate!!Households!!Total!!$15,000 to $24,999',
       'Estimate!!Households!!Total!!$25,000 to $34,999',
       'Estimate!!Households!!Total!!$35,000 to $49,999',
       'Estimate!!Households!!Total!!$50,000 to $74,999',
       'Estimate!!Households!!Total!!$75,000 to $99,999',
       'Estimate!!Households!!Total!!$100,000 to $149,999',
       'Estimate!!Households!!Total!!$150,000 to $199,999',
       'Estimate!!Households!!Total!!$200,000 or more',
       'Estimate!!Households!!Median income (dollars)',
       'Estimate!!Households!!Mean income (dollars)', 'LessThanHS',
       'HSNoDegree', 'HasDegree'],
      dtype='object')
(325207, 47)
CensusTract                                                    object
Grade                                                           int64
Percentage Standard Met and Above                              object
School Name                                                    object
CensusTract                                                    object
Estimate!!Total:                                                int64
Estimate!!Total:!!No schooling completed                        int64
Estimate!!Total:!!Nursery school                                int64
Estimate!!Total:!!Kindergarten                                  int64
Estimate!!Total:!!1st grade                                     int64
Estimate!!Total:!!2nd grade                                     int64
Estimate!!Total:!!3rd grade                                     int64
Estimate!!Total:!!4th grade                                     int64
Estimate!!Total:!!5th grade                                     int64
Estimate!!Total:!!6th grade                                     int64
Estimate!!Total:!!7th grade                                     int64
Estimate!!Total:!!8th grade                                     int64
Estimate!!Total:!!9th grade                                     int64
Estimate!!Total:!!10th grade                                    int64
Estimate!!Total:!!11th grade                                    int64
Estimate!!Total:!!12th grade, no diploma                        int64
Estimate!!Total:!!Regular high school diploma                   int64
Estimate!!Total:!!GED or alternative credential                 int64
Estimate!!Total:!!Some college, less than 1 year                int64
Estimate!!Total:!!Some college, 1 or more years, no degree      int64
Estimate!!Total:!!Associate's degree                            int64
Estimate!!Total:!!Bachelor's degree                             int64
Estimate!!Total:!!Master's degree                               int64
Estimate!!Total:!!Professional school degree                    int64
Estimate!!Total:!!Doctorate degree                              int64
CensusTract                                                    object
Estimate!!Households!!Total                                    object
Estimate!!Households!!Total!!Less than $10,000                 object
Estimate!!Households!!Total!!$10,000 to $14,999                object
Estimate!!Households!!Total!!$15,000 to $24,999                object
Estimate!!Households!!Total!!$25,000 to $34,999                object
Estimate!!Households!!Total!!$35,000 to $49,999                object
Estimate!!Households!!Total!!$50,000 to $74,999                object
Estimate!!Households!!Total!!$75,000 to $99,999                object
Estimate!!Households!!Total!!$100,000 to $149,999              object
Estimate!!Households!!Total!!$150,000 to $199,999              object
Estimate!!Households!!Total!!$200,000 or more                  object
Estimate!!Households!!Median income (dollars)                  object
Estimate!!Households!!Mean income (dollars)                    object
LessThanHS                                                    float64
HSNoDegree                                                    float64
HasDegree                                                     float64
dtype: object
               Grade  Estimate!!Total:  \
count  325207.000000     325207.000000
mean        8.147168       2973.730541
std         3.759205       1148.012316
min         3.000000          0.000000
25%         5.000000       2162.000000
50%         7.000000       2901.000000
75%        13.000000       3691.000000
max        13.000000      10900.000000

       Estimate!!Total:!!No schooling completed  \
count                             325207.000000
mean                                  93.439914
std                                  102.957875
min                                    0.000000
25%                                   18.000000
50%                                   61.000000
75%                                  135.000000
max                                  926.000000

       Estimate!!Total:!!Nursery school  Estimate!!Total:!!Kindergarten  \
count                      325207.00000                   325207.000000
mean                            0.88503                        1.653602
std                             4.77791                        9.032225
min                             0.00000                        0.000000
25%                             0.00000                        0.000000
50%                             0.00000                        0.000000
75%                             0.00000                        0.000000
max                            78.00000                      420.000000

       Estimate!!Total:!!1st grade  Estimate!!Total:!!2nd grade  \
count                325207.000000                325207.000000
mean                      3.638304                     7.839638
std                      11.592965                    19.468905
min                       0.000000                     0.000000
25%                       0.000000                     0.000000
50%                       0.000000                     0.000000
75%                       0.000000                     5.000000
max                     181.000000                   341.000000

       Estimate!!Total:!!3rd grade  Estimate!!Total:!!4th grade  \
count                325207.000000                325207.000000
mean                     16.688079                    10.512621
std                      30.981254                    21.392035
min                       0.000000                     0.000000
25%                       0.000000                     0.000000
50%                       0.000000                     0.000000
75%                      22.000000                    12.000000
max                     443.000000                   298.000000

       Estimate!!Total:!!5th grade  ...  \
count                325207.000000  ...
mean                     15.981569  ...
std                      37.250059  ...
min                       0.000000  ...
25%                       0.000000  ...
50%                       0.000000  ...
75%                      20.000000  ...
max                     755.000000  ...

       Estimate!!Total:!!Some college, less than 1 year  \
count                                     325207.000000
mean                                         190.293837
std                                          123.800938
min                                            0.000000
25%                                           99.000000
50%                                          168.000000
75%                                          258.000000
max                                         1852.000000

       Estimate!!Total:!!Some college, 1 or more years, no degree  \
count                                      325207.000000
mean                                          456.552417
std                                           238.303173
min                                             0.000000
25%                                           280.000000
50%                                           426.000000
75%                                           595.000000
max                                          1900.000000

       Estimate!!Total:!!Associate's degree  \
count                         325207.000000
mean                             250.030085
std                              153.235922
min                                0.000000
25%                              136.000000
50%                              224.000000
75%                              336.000000
max                             1166.000000

       Estimate!!Total:!!Bachelor's degree  Estimate!!Total:!!Master's degree  \
count                        325207.000000                      325207.000000
mean                            582.883892                         236.809900
std                             440.292186                         269.990304
min                               0.000000                           0.000000
25%                             245.000000                          62.000000
50%                             467.000000                         152.000000
75%                             824.000000                         323.000000
max                            4365.000000                        4325.000000

       Estimate!!Total:!!Professional school degree  \
count                                 325207.000000
mean                                      64.947378
std                                       85.782894
min                                        0.000000
25%                                        8.000000
50%                                       36.000000
75%                                       88.000000
max                                      886.000000

       Estimate!!Total:!!Doctorate degree     LessThanHS     HSNoDegree  \
count                       325207.000000  324240.000000  324240.000000
mean                            44.276590       0.174268       0.440098
std                             78.360557       0.143221       0.126644
min                              0.000000       0.000000       0.000000
25%                              0.000000       0.058317       0.366200
50%                             16.000000       0.128690       0.455423
75%                             54.000000       0.261754       0.527576
max                            961.000000       1.000000       1.000000

           HasDegree
count  324240.000000
mean        0.385634
std         0.204395
min         0.000000
25%         0.220405
50%         0.358700
75%         0.525399
max         1.000000

[8 rows x 29 columns]
CensusTract                                                     0
Grade                                                           0
Percentage Standard Met and Above                               0
School Name                                                     0
CensusTract                                                     0
Estimate!!Total:                                                0
Estimate!!Total:!!No schooling completed                        0
Estimate!!Total:!!Nursery school                                0
Estimate!!Total:!!Kindergarten                                  0
Estimate!!Total:!!1st grade                                     0
Estimate!!Total:!!2nd grade                                     0
Estimate!!Total:!!3rd grade                                     0
Estimate!!Total:!!4th grade                                     0
Estimate!!Total:!!5th grade                                     0
Estimate!!Total:!!6th grade                                     0
Estimate!!Total:!!7th grade                                     0
Estimate!!Total:!!8th grade                                     0
Estimate!!Total:!!9th grade                                     0
Estimate!!Total:!!10th grade                                    0
Estimate!!Total:!!11th grade                                    0
Estimate!!Total:!!12th grade, no diploma                        0
Estimate!!Total:!!Regular high school diploma                   0
Estimate!!Total:!!GED or alternative credential                 0
Estimate!!Total:!!Some college, less than 1 year                0
Estimate!!Total:!!Some college, 1 or more years, no degree      0
Estimate!!Total:!!Associate's degree                            0
Estimate!!Total:!!Bachelor's degree                             0
Estimate!!Total:!!Master's degree                               0
Estimate!!Total:!!Professional school degree                    0
Estimate!!Total:!!Doctorate degree                              0
CensusTract                                                     0
Estimate!!Households!!Total                                     0
Estimate!!Households!!Total!!Less than $10,000                  0
Estimate!!Households!!Total!!$10,000 to $14,999                 0
Estimate!!Households!!Total!!$15,000 to $24,999                 0
Estimate!!Households!!Total!!$25,000 to $34,999                 0
Estimate!!Households!!Total!!$35,000 to $49,999                 0
Estimate!!Households!!Total!!$50,000 to $74,999                 0
Estimate!!Households!!Total!!$75,000 to $99,999                 0
Estimate!!Households!!Total!!$100,000 to $149,999               0
Estimate!!Households!!Total!!$150,000 to $199,999               0
Estimate!!Households!!Total!!$200,000 or more                   0
Estimate!!Households!!Median income (dollars)                   0
Estimate!!Households!!Mean income (dollars)                     0
LessThanHS                                                    967
HSNoDegree                                                    967
HasDegree                                                     967
dtype: int64

In [33]:
null_hs_no_degree = df[df['HSNoDegree'].isnull()]
print(null_hs_no_degree)

        CensusTract  Grade Percentage Standard Met and Above  \
21535   06013990000     11                             46.15
21544   06013990000     13                             46.15
21553   06013990000     11                             14.50
21562   06013990000     13                             14.50
21809   06013990000      5                                 *
...             ...    ...                               ...
239072  06083980000     13                             66.67
239090  06083980000      3                                 *
239108  06083980000      4                                 *
239126  06083980000      5                                 *
239144  06083980000     13                             53.33

                                             School Name  CensusTract  \
21535                Leadership Public Schools: Richmond  06013990000
21544                Leadership Public Schools: Richmond  06013990000
21553                Leadership Public Schools: Richmond  06013990000
21562                Leadership Public Schools: Richmond  06013990000
21809   West Contra Costa Unified District Level Program  06013990000
...                                                  ...          ...
239072                               Vista de Las Cruces  06083980000
239090                               Vista de Las Cruces  06083980000
239108                               Vista de Las Cruces  06083980000
239126                               Vista de Las Cruces  06083980000
239144                               Vista de Las Cruces  06083980000

        Estimate!!Total:  Estimate!!Total:!!No schooling completed  \
21535                  0                                         0
21544                  0                                         0
21553                  0                                         0
21562                  0                                         0
21809                  0                                         0
...                  ...                                       ...
239072                 0                                         0
239090                 0                                         0
239108                 0                                         0
239126                 0                                         0
239144                 0                                         0

        Estimate!!Total:!!Nursery school  Estimate!!Total:!!Kindergarten  \
21535                                  0                               0
21544                                  0                               0
21553                                  0                               0
21562                                  0                               0
21809                                  0                               0
...                                  ...                             ...
239072                                 0                               0
239090                                 0                               0
239108                                 0                               0
239126                                 0                               0
239144                                 0                               0

        Estimate!!Total:!!1st grade  ...  \
21535                             0  ...
21544                             0  ...
21553                             0  ...
21562                             0  ...
21809                             0  ...
...                             ...  ...
239072                            0  ...
239090                            0  ...
239108                            0  ...
239126                            0  ...
239144                            0  ...

        Estimate!!Households!!Total!!$50,000 to $74,999  \
21535                                                 -
21544                                                 -
21553                                                 -
21562                                                 -
21809                                                 -
...                                                 ...
239072                                                -
239090                                                -
239108                                                -
239126                                                -
239144                                                -

        Estimate!!Households!!Total!!$75,000 to $99,999  \
21535                                                 -
21544                                                 -
21553                                                 -
21562                                                 -
21809                                                 -
...                                                 ...
239072                                                -
239090                                                -
239108                                                -
239126                                                -
239144                                                -

        Estimate!!Households!!Total!!$100,000 to $149,999  \
21535                                                   -
21544                                                   -
21553                                                   -
21562                                                   -
21809                                                   -
...                                                   ...
239072                                                  -
239090                                                  -
239108                                                  -
239126                                                  -
239144                                                  -

        Estimate!!Households!!Total!!$150,000 to $199,999  \
21535                                                   -
21544                                                   -
21553                                                   -
21562                                                   -
21809                                                   -
...                                                   ...
239072                                                  -
239090                                                  -
239108                                                  -
239126                                                  -
239144                                                  -

        Estimate!!Households!!Total!!$200,000 or more  \
21535                                               -
21544                                               -
21553                                               -
21562                                               -
21809                                               -
...                                               ...
239072                                              -
239090                                              -
239108                                              -
239126                                              -
239144                                              -

        Estimate!!Households!!Median income (dollars)  \
21535                                               -
21544                                               -
21553                                               -
21562                                               -
21809                                               -
...                                               ...
239072                                              -
239090                                              -
239108                                              -
239126                                              -
239144                                              -

        Estimate!!Households!!Mean income (dollars)  LessThanHS  HSNoDegree  \
21535                                             -         NaN         NaN
21544                                             -         NaN         NaN
21553                                             -         NaN         NaN
21562                                             -         NaN         NaN
21809                                             -         NaN         NaN
...                                             ...         ...         ...
239072                                            -         NaN         NaN
239090                                            -         NaN         NaN
239108                                            -         NaN         NaN
239126                                            -         NaN         NaN
239144                                            -         NaN         NaN

        HasDegree
21535         NaN
21544         NaN
21553         NaN
21562         NaN
21809         NaN
...           ...
239072        NaN
239090        NaN
239108        NaN
239126        NaN
239144        NaN

[967 rows x 47 columns]

There are several schools, the majority of which appear to be correctional facilities or charter schools that do not have any data.