In [ ]:
import pandas as pd

#create edfacts dataframe
assessment_df = pd.read_csv('data/schools_edfacts_assessments_2020.csv')
assessment_df = assessment_df[['ncessch_num', 'year', 'read_test_pct_prof_midpt', 'math_test_pct_prof_midpt', 'grade_edfacts', 'race', 'sex', 'lep', 'homeless', 'migrant', 'disability', 'econ_disadvantaged', 'foster_care', 'military_connected']]  # Select only the required columns
    
#Create LISD dataframe
lisd_2018_2022 = pd.read_csv('data/LISD_1.0_2018-2022.csv')
lisd = lisd_2018_2022[['ncessch', 'year', 'perflunch', 'perrlunch', 'perfrlunch', 'pernam', 'perasian', 'perhisp', 'perblack', 'pertr', 'perwhite', 'level']]
lisd.columns = ['ncessch_num', 'year', 'perflunch', 'perrlunch', 'perfrlunch', 'pernam', 'perasian', 'perhisp', 'perblack', 'pertr', 'perwhite', 'level']

# Create meps dataframe
meps = pd.read_csv('data/schools_meps.csv')
meps = meps[['ncessch_num', 'year', 'meps_poverty_pct']]
meps.columns = ['ncessch_num', 'year', 'perpoverty']

# Create schools dataframe
schools = pd.read_csv('data/schools_ccd_directory.csv')
schools = schools[['ncessch_num', 'year', 'school_name', 'city_mailing', 'state_mailing', 'zip_mailing', 'latitude', 'longitude']]
schools.columns = ['ncessch_num', 'year', 'school_name', 'city', 'state', 'zip', 'latitude', 'longitude']

# Filter dataframes for the year 2020
lisd = lisd[lisd['year'] == 2020]
meps = meps[meps['year'] == 2020]
schools = schools[schools['year'] == 2020]

# Merge dataframes
df = pd.merge(assessment_df, lisd, on=['ncessch_num', 'year'], how='left')
df = pd.merge(df, meps, on=['ncessch_num', 'year'], how='left')
df = pd.merge(df, schools, on=['ncessch_num', 'year'], how='left')

# filter only rows where level is High/Secondary
df = df[df['level'] == 'High/Secondary']

print(df.head())
print(df.shape)

/tmp/ipykernel_698071/3296312368.py:18: DtypeWarning: Columns (7,8,9,11,12,13,14,15,17,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  schools = pd.read_csv('data/schools_ccd_directory.csv')

    ncessch_num  year  read_test_pct_prof_midpt  math_test_pct_prof_midpt  \
47  10000500871  2020                      22.0                      19.0
48  10000500871  2020                      10.0                      10.0
49  10000500871  2020                      12.0                       7.5
50  10000500871  2020                      22.0                      22.0
51  10000500871  2020                       5.0                       5.0

    grade_edfacts  race  sex  lep  homeless  migrant  ...     pertr  perwhite  \
47             99    99   99   99        99       99  ...  0.023661  0.439602
48             99    99   99   99        99       99  ...  0.023661  0.439602
49             99    99   99   99        99       99  ...  0.023661  0.439602
50             99    99    2   99        99       99  ...  0.023661  0.439602
51             99    99   99    1        99       99  ...  0.023661  0.439602

             level  perpoverty              school_name         city  state  \
47  High/Secondary   16.530092  Albertville High School  Albertville     AL
48  High/Secondary   16.530092  Albertville High School  Albertville     AL
49  High/Secondary   16.530092  Albertville High School  Albertville     AL
50  High/Secondary   16.530092  Albertville High School  Albertville     AL
51  High/Secondary   16.530092  Albertville High School  Albertville     AL

      zip  latitude  longitude
47  35950   34.2622   -86.2049
48  35950   34.2622   -86.2049
49  35950   34.2622   -86.2049
50  35950   34.2622   -86.2049
51  35950   34.2622   -86.2049

[5 rows x 31 columns]
(571438, 31)
read_test_pct_prof_midpt    22313
math_test_pct_prof_midpt    21684
perpoverty                  14922
dtype: int64

In [ ]:
nulls = df.isnull().sum()
print(nulls[nulls > 0])

read_test_pct_prof_midpt    22313
math_test_pct_prof_midpt    21684
perpoverty                  14922
dtype: int64

In [10]:
df_cleaned = df.dropna()
print(df_cleaned.head())
print(df_cleaned.shape)

    ncessch_num  year  read_test_pct_prof_midpt  math_test_pct_prof_midpt  \
47  10000500871  2020                      22.0                      19.0
48  10000500871  2020                      10.0                      10.0
49  10000500871  2020                      12.0                       7.5
50  10000500871  2020                      22.0                      22.0
51  10000500871  2020                       5.0                       5.0

    grade_edfacts  race  sex  lep  homeless  migrant  ...     pertr  perwhite  \
47             99    99   99   99        99       99  ...  0.023661  0.439602
48             99    99   99   99        99       99  ...  0.023661  0.439602
49             99    99   99   99        99       99  ...  0.023661  0.439602
50             99    99    2   99        99       99  ...  0.023661  0.439602
51             99    99   99    1        99       99  ...  0.023661  0.439602

             level  perpoverty              school_name         city  state  \
47  High/Secondary   16.530092  Albertville High School  Albertville     AL
48  High/Secondary   16.530092  Albertville High School  Albertville     AL
49  High/Secondary   16.530092  Albertville High School  Albertville     AL
50  High/Secondary   16.530092  Albertville High School  Albertville     AL
51  High/Secondary   16.530092  Albertville High School  Albertville     AL

      zip  latitude  longitude
47  35950   34.2622   -86.2049
48  35950   34.2622   -86.2049
49  35950   34.2622   -86.2049
50  35950   34.2622   -86.2049
51  35950   34.2622   -86.2049

[5 rows x 31 columns]
(529774, 31)

In [11]:
# write the cleaned data to a csv file
df_cleaned.to_csv('data/merged_2020_hs.csv', index=False)