In [1]:
import pandas as pd

# Create schools dataframe
schools = pd.read_csv('data/schools_ccd_directory.csv')
schools = schools[['ncessch_num', 'year', 'school_name', 'city_mailing', 'state_mailing', 'zip_mailing', 'latitude', 'longitude']]
schools.columns = ['ncessch_num', 'year', 'school_name', 'city', 'state', 'zip', 'latitude', 'longitude']

# Create LISD dataframe
lisd_2012_2017 = pd.read_csv('data/LISD_1.0_2012-2017.csv')
lisd_2018_2022 = pd.read_csv('data/LISD_1.0_2018-2022.csv')
lisd = pd.concat([lisd_2012_2017, lisd_2018_2022])

# Create meps dataframe
meps = pd.read_csv('data/schools_meps.csv')
meps = meps[['ncessch_num', 'year', 'meps_poverty_pct']]
meps.columns = ['ncessch_num', 'year', 'poverty_pct']

lisd = lisd[['ncessch', 'year', 'perflunch', 'perrlunch', 'perfrlunch', 'pernam', 'perasian', 'perhisp', 'perblack', 'pertr', 'perwhite', 'level']]
lisd.columns = ['ncessch_num', 'year', 'perflunch', 'perrlunch', 'perfrlunch', 'pernam', 'perasian', 'perhisp', 'perblack', 'pertr', 'perwhite', 'level']

#filter dataframes for the year range 2013-2020
lisd = lisd[lisd['year'] >= 2020]   
lisd = lisd[lisd['year'] <= 2020]
meps = meps[meps['year'] >= 2020]
meps = meps[meps['year'] <= 2020]
schools = schools[schools['year'] >= 2020]
schools = schools[schools['year'] <= 2020]

# Merge schools lisd and meps dataframes
dimpovertyrace = pd.merge(schools, lisd, on=['ncessch_num', 'year'], how='left')
dimpovertyrace = pd.merge(dimpovertyrace, meps, on=['ncessch_num', 'year'], how='left')

print(dimpovertyrace.head())
print(dimpovertyrace.tail())
print(dimpovertyrace.shape)

/tmp/ipykernel_695510/3285650027.py:4: DtypeWarning: Columns (7,8,9,11,12,13,14,15,17,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  schools = pd.read_csv('data/schools_ccd_directory.csv')

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  perfrlunch    pernam  \
0  35950   34.2602 -86.206200   0.365639   0.029540    0.395179  0.002203
1  35950   34.2622 -86.204900   0.283935   0.032601    0.316536  0.000623
2  35950   34.2733 -86.220100   0.370370   0.034081    0.404451  0.004489
3  35950   34.2527 -86.221806   0.437225   0.046046    0.483271  0.004405
4  35951   34.2898 -86.193300   0.325540   0.022814    0.348354  0.007194

   perasian   perhisp  perblack     pertr  perwhite               level  \
0  0.004405  0.516520  0.036344  0.031938  0.408590              Middle
1  0.003736  0.488792  0.043587  0.023661  0.439602      High/Secondary
2  0.008979  0.539843  0.026936  0.032548  0.387205              Middle
3  0.004405  0.547357  0.052863  0.016520  0.374449  Elementary/Primary
4  0.003597  0.517986  0.059353  0.023381  0.388489  Elementary/Primary

   poverty_pct
0    20.607454
1    16.530092
2    22.569937
3    22.442440
4    17.828953
         ncessch_num  year                      school_name          city  \
101657  780003000024  2020       LOCKHART ELEMENTARY SCHOOL  Saint Thomas
101658  780003000026  2020  ULLA F MULLER ELEMENTARY SCHOOL  Saint Thomas
101659  780003000027  2020  YVONNE BOWSKY ELEMENTARY SCHOOL  Saint Thomas
101660  780003000033  2020       CANCRYN JUNIOR HIGH SCHOOL  Saint Thomas
101661  780003000034  2020     BERTHA BOSCHULTE JUNIOR HIGH  Saint Thomas

       state  zip   latitude  longitude  perflunch  perrlunch  perfrlunch  \
101657    VI  802  18.341950 -64.917602        NaN        NaN         NaN
101658    VI  802  18.338742 -64.952483        NaN        NaN         NaN
101659    VI  802  18.354782 -64.899024        NaN        NaN         NaN
101660    VI  802  18.336658 -64.945940        NaN        NaN         NaN
101661    VI  802  18.318230 -64.890311        NaN        NaN         NaN

        pernam  perasian  perhisp  perblack  pertr  perwhite level  \
101657     NaN       NaN      NaN       NaN    NaN       NaN   NaN
101658     NaN       NaN      NaN       NaN    NaN       NaN   NaN
101659     NaN       NaN      NaN       NaN    NaN       NaN   NaN
101660     NaN       NaN      NaN       NaN    NaN       NaN   NaN
101661     NaN       NaN      NaN       NaN    NaN       NaN   NaN

        poverty_pct
101657          NaN
101658          NaN
101659          NaN
101660          NaN
101661          NaN
(101662, 19)

In [2]:
null_counts = dimpovertyrace.isnull().sum()
print(null_counts)

ncessch_num        0
year               0
school_name        0
city               0
state              0
zip                0
latitude           0
longitude          0
perflunch       7469
perrlunch       7469
perfrlunch      7469
pernam          7471
perasian        7471
perhisp         7471
perblack        7471
pertr           7471
perwhite        7471
level           7470
poverty_pct    10206
dtype: int64

In [3]:
dimpovertyrace = dimpovertyrace.dropna(subset=['school_name', 'city', 'zip'])
print(dimpovertyrace.shape)

(101662, 19)

In [4]:
null_years = dimpovertyrace[dimpovertyrace.isnull().any(axis=1)]['year']
most_null_year = null_years.value_counts().idxmax()
print(f"The year with the most null values is: {most_null_year}")

null_years_percentage = null_years.value_counts(normalize=True) * 100
print(null_years_percentage)

null_schools = dimpovertyrace[dimpovertyrace.isnull().any(axis=1)]['ncessch_num']
most_null_school = null_schools.value_counts().idxmax()
print(f"The school with the most null values is: {most_null_school}")

null_schools_percentage = null_schools.value_counts(normalize=True) * 100
print(null_schools_percentage)

# Find schools that have null values for every year
null_schools_all_years = dimpovertyrace.groupby('ncessch_num').filter(lambda x: x.isnull().all().all())
print(null_schools_all_years)

The year with the most null values is: 2020
year
2020    100.0
Name: proportion, dtype: float64
The school with the most null values is: 780003000034
ncessch_num
780003000034    0.008485
10000600876     0.008485
10000600986     0.008485
10000600987     0.008485
10000702359     0.008485
                  ...
10001502131     0.008485
10001502126     0.008485
10001502121     0.008485
10001502118     0.008485
10001501827     0.008485
Name: proportion, Length: 11786, dtype: float64
Empty DataFrame
Columns: [ncessch_num, year, school_name, city, state, zip, latitude, longitude, perflunch, perrlunch, perfrlunch, pernam, perasian, perhisp, perblack, pertr, perwhite, level, poverty_pct]
Index: []

In [5]:
columns_to_check = ['perflunch', 'perrlunch', 'pernam', 'perasian', 'perhisp', 'perblack', 'pertr', 'perwhite', 'poverty_pct']
dimpovertyrace = dimpovertyrace.dropna(subset=columns_to_check)
print(dimpovertyrace.shape)

(89876, 19)

In [6]:
null_counts = dimpovertyrace.isnull().sum()
print(null_counts)

ncessch_num    0
year           0
school_name    0
city           0
state          0
zip            0
latitude       0
longitude      0
perflunch      0
perrlunch      0
perfrlunch     0
pernam         0
perasian       0
perhisp        0
perblack       0
pertr          0
perwhite       0
level          0
poverty_pct    0
dtype: int64

In [7]:
print(dimpovertyrace.head())

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  perfrlunch    pernam  \
0  35950   34.2602 -86.206200   0.365639   0.029540    0.395179  0.002203
1  35950   34.2622 -86.204900   0.283935   0.032601    0.316536  0.000623
2  35950   34.2733 -86.220100   0.370370   0.034081    0.404451  0.004489
3  35950   34.2527 -86.221806   0.437225   0.046046    0.483271  0.004405
4  35951   34.2898 -86.193300   0.325540   0.022814    0.348354  0.007194

   perasian   perhisp  perblack     pertr  perwhite               level  \
0  0.004405  0.516520  0.036344  0.031938  0.408590              Middle
1  0.003736  0.488792  0.043587  0.023661  0.439602      High/Secondary
2  0.008979  0.539843  0.026936  0.032548  0.387205              Middle
3  0.004405  0.547357  0.052863  0.016520  0.374449  Elementary/Primary
4  0.003597  0.517986  0.059353  0.023381  0.388489  Elementary/Primary

   poverty_pct
0    20.607454
1    16.530092
2    22.569937
3    22.442440
4    17.828953

In [8]:
dimpovertyrace = dimpovertyrace.rename(columns={'poverty_pct': 'perpoverty'})
dimpovertyrace['perpoverty'] = dimpovertyrace['perpoverty'] / 100
print(dimpovertyrace.head())

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  perfrlunch    pernam  \
0  35950   34.2602 -86.206200   0.365639   0.029540    0.395179  0.002203
1  35950   34.2622 -86.204900   0.283935   0.032601    0.316536  0.000623
2  35950   34.2733 -86.220100   0.370370   0.034081    0.404451  0.004489
3  35950   34.2527 -86.221806   0.437225   0.046046    0.483271  0.004405
4  35951   34.2898 -86.193300   0.325540   0.022814    0.348354  0.007194

   perasian   perhisp  perblack     pertr  perwhite               level  \
0  0.004405  0.516520  0.036344  0.031938  0.408590              Middle
1  0.003736  0.488792  0.043587  0.023661  0.439602      High/Secondary
2  0.008979  0.539843  0.026936  0.032548  0.387205              Middle
3  0.004405  0.547357  0.052863  0.016520  0.374449  Elementary/Primary
4  0.003597  0.517986  0.059353  0.023381  0.388489  Elementary/Primary

   perpoverty
0    0.206075
1    0.165301
2    0.225699
3    0.224424
4    0.178290

In [9]:
import pandas as pd

# List of years to include, excluding 2019
years = [year for year in range(2013, 2021) if year != 2019]

# Initialize an empty list to store dataframes
dataframes = []

# Loop through each year and read the corresponding CSV file
for year in years:
    file_path = f'data/schools_edfacts_assessments_{year}.csv'
    df = pd.read_csv(file_path)
    df['year'] = year  # Add a year column to each dataframe
    df = df[['ncessch_num', 'year', 'read_test_pct_prof_midpt', 'math_test_pct_prof_midpt', 'grade_edfacts', 'race', 'sex', 'lep', 'homeless', 'migrant', 'disability', 'econ_disadvantaged', 'foster_care', 'military_connected']]  # Select only the required columns
    df = df[(df['grade_edfacts'] == 99) & (df['race'] == 99) & (df['sex'] == 99) & (df['lep'] == 99) & (df['homeless'] == 99) & (df['migrant'] == 99) & (df['disability'] == 99) & (df['econ_disadvantaged'] == 99) & (df['foster_care'] == 99) & (df['military_connected'] == 99)]
    dataframes.append(df)

# Concatenate all dataframes into a single dataframe
schools_edfacts_assessments = pd.concat(dataframes, ignore_index=True)

print(schools_edfacts_assessments.head())
print(schools_edfacts_assessments.tail())
print(schools_edfacts_assessments.shape)

   ncessch_num  year  read_test_pct_prof_midpt  math_test_pct_prof_midpt  \
0  10000500870  2013                      29.0                      23.0
1  10000500871  2013                      60.0                      18.0
2  10000500879  2013                      32.0                      41.0
3  10000500889  2013                      30.0                      42.0
4  10000600193  2013                      41.0                      39.0

   grade_edfacts  race  sex  lep  homeless  migrant  disability  \
0             99    99   99   99        99       99          99
1             99    99   99   99        99       99          99
2             99    99   99   99        99       99          99
3             99    99   99   99        99       99          99
4             99    99   99   99        99       99          99

   econ_disadvantaged  foster_care  military_connected
0                  99           99                  99
1                  99           99                  99
2                  99           99                  99
3                  99           99                  99
4                  99           99                  99
         ncessch_num  year  read_test_pct_prof_midpt  \
612363  490036001119  2020                      -3.0
612364  510004202388  2020                      -3.0
612365  540030001595  2020                      -3.0
612366  540030001596  2020                      -3.0
612367  540030001597  2020                      -3.0

        math_test_pct_prof_midpt  grade_edfacts  race  sex  lep  homeless  \
612363                      -3.0             99    99   99   99        99
612364                      -3.0             99    99   99   99        99
612365                      14.0             99    99   99   99        99
612366                      13.0             99    99   99   99        99
612367                      19.0             99    99   99   99        99

        migrant  disability  econ_disadvantaged  foster_care  \
612363       99          99                  99           99
612364       99          99                  99           99
612365       99          99                  99           99
612366       99          99                  99           99
612367       99          99                  99           99

        military_connected
612363                  99
612364                  99
612365                  99
612366                  99
612367                  99
(612368, 14)

In [10]:
null_counts_edfacts = schools_edfacts_assessments.isnull().sum()
print(null_counts_edfacts)

ncessch_num                    0
year                           0
read_test_pct_prof_midpt    3015
math_test_pct_prof_midpt    5019
grade_edfacts                  0
race                           0
sex                            0
lep                            0
homeless                       0
migrant                        0
disability                     0
econ_disadvantaged             0
foster_care                    0
military_connected             0
dtype: int64

In [11]:
schools_edfacts_assessments = schools_edfacts_assessments.dropna()
print(schools_edfacts_assessments.shape)

(604334, 14)

In [ ]:
negative_test_scores = schools_edfacts_assessments[(schools_edfacts_assessments['read_test_pct_prof_midpt'] < 0) & (schools_edfacts_assessments['math_test_pct_prof_midpt'] < 0)]
print(negative_test_scores)

         ncessch_num  year  read_test_pct_prof_midpt  \
412      10117002175  2013                      -3.0
441      10129000833  2013                      -3.0
550      10169000581  2013                      -3.0
652      10189001675  2013                      -3.0
735      10204002211  2013                      -3.0
...              ...   ...                       ...
612360  484035007062  2020                      -3.0
612361  484230010675  2020                      -3.0
612362  490003001553  2020                      -3.0
612363  490036001119  2020                      -3.0
612364  510004202388  2020                      -3.0

        math_test_pct_prof_midpt  grade_edfacts  race  sex  lep  homeless  \
412                         -3.0             99    99   99   99        99
441                         -3.0             99    99   99   99        99
550                         -3.0             99    99   99   99        99
652                         -3.0             99    99   99   99        99
735                         -3.0             99    99   99   99        99
...                          ...            ...   ...  ...  ...       ...
612360                      -3.0             99    99   99   99        99
612361                      -3.0             99    99   99   99        99
612362                      -3.0             99    99   99   99        99
612363                      -3.0             99    99   99   99        99
612364                      -3.0             99    99   99   99        99

        migrant  disability  econ_disadvantaged  foster_care  \
412          99          99                  99           99
441          99          99                  99           99
550          99          99                  99           99
652          99          99                  99           99
735          99          99                  99           99
...         ...         ...                 ...          ...
612360       99          99                  99           99
612361       99          99                  99           99
612362       99          99                  99           99
612363       99          99                  99           99
612364       99          99                  99           99

        military_connected
412                     99
441                     99
550                     99
652                     99
735                     99
...                    ...
612360                  99
612361                  99
612362                  99
612363                  99
612364                  99

[12449 rows x 14 columns]

In [ ]:
schools_edfacts_assessments = schools_edfacts_assessments[(schools_edfacts_assessments['read_test_pct_prof_midpt'] >= 0) & (schools_edfacts_assessments['math_test_pct_prof_midpt'] >= 0)]
print(schools_edfacts_assessments.shape)

(589173, 14)

In [ ]:
print(schools_edfacts_assessments.head())

   ncessch_num  year  read_test_pct_prof_midpt  math_test_pct_prof_midpt  \
0  10000500870  2013                      29.0                      23.0
1  10000500871  2013                      60.0                      18.0
2  10000500879  2013                      32.0                      41.0
3  10000500889  2013                      30.0                      42.0
4  10000600193  2013                      41.0                      39.0

   grade_edfacts  race  sex  lep  homeless  migrant  disability  \
0             99    99   99   99        99       99          99
1             99    99   99   99        99       99          99
2             99    99   99   99        99       99          99
3             99    99   99   99        99       99          99
4             99    99   99   99        99       99          99

   econ_disadvantaged  foster_care  military_connected
0                  99           99                  99
1                  99           99                  99
2                  99           99                  99
3                  99           99                  99
4                  99           99                  99

In [ ]:
merged_df = pd.merge(dimpovertyrace, schools_edfacts_assessments, on=['ncessch_num', 'year'], how='left')
print(merged_df.head())
print(merged_df.shape)

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  ...  grade_edfacts  race  \
0  35950   34.2602 -86.206200   0.365639   0.029540  ...           99.0  99.0
1  35950   34.2622 -86.204900   0.283935   0.032601  ...           99.0  99.0
2  35950   34.2733 -86.220100   0.370370   0.034081  ...           99.0  99.0
3  35950   34.2527 -86.221806   0.437225   0.046046  ...           99.0  99.0
4  35951   34.2898 -86.193300   0.325540   0.022814  ...            NaN   NaN

    sex   lep  homeless  migrant  disability econ_disadvantaged  foster_care  \
0  99.0  99.0      99.0     99.0        99.0               99.0         99.0
1  99.0  99.0      99.0     99.0        99.0               99.0         99.0
2  99.0  99.0      99.0     99.0        99.0               99.0         99.0
3  99.0  99.0      99.0     99.0        99.0               99.0         99.0
4   NaN   NaN       NaN      NaN         NaN                NaN          NaN

   military_connected
0                99.0
1                99.0
2                99.0
3                99.0
4                 NaN

[5 rows x 31 columns]
(89876, 31)

In [16]:
null_counts_all_columns = merged_df.isnull().sum()
print(null_counts_all_columns)

ncessch_num                     0
year                            0
school_name                     0
city                            0
state                           0
zip                             0
latitude                        0
longitude                       0
perflunch                       0
perrlunch                       0
perfrlunch                      0
pernam                          0
perasian                        0
perhisp                         0
perblack                        0
pertr                           0
perwhite                        0
level                           0
perpoverty                      0
read_test_pct_prof_midpt    15501
math_test_pct_prof_midpt    15501
grade_edfacts               15501
race                        15501
sex                         15501
lep                         15501
homeless                    15501
migrant                     15501
disability                  15501
econ_disadvantaged          15501
foster_care                 15501
military_connected          15501
dtype: int64

In [17]:
merged_df = merged_df.rename(columns={'read_test_pct_prof_midpt': 'pctprofread', 'math_test_pct_prof_midpt': 'pctprofmath'})
print(merged_df.head())

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  ...  grade_edfacts  race  \
0  35950   34.2602 -86.206200   0.365639   0.029540  ...           99.0  99.0
1  35950   34.2622 -86.204900   0.283935   0.032601  ...           99.0  99.0
2  35950   34.2733 -86.220100   0.370370   0.034081  ...           99.0  99.0
3  35950   34.2527 -86.221806   0.437225   0.046046  ...           99.0  99.0
4  35951   34.2898 -86.193300   0.325540   0.022814  ...            NaN   NaN

    sex   lep  homeless  migrant  disability econ_disadvantaged  foster_care  \
0  99.0  99.0      99.0     99.0        99.0               99.0         99.0
1  99.0  99.0      99.0     99.0        99.0               99.0         99.0
2  99.0  99.0      99.0     99.0        99.0               99.0         99.0
3  99.0  99.0      99.0     99.0        99.0               99.0         99.0
4   NaN   NaN       NaN      NaN         NaN                NaN          NaN

   military_connected
0                99.0
1                99.0
2                99.0
3                99.0
4                 NaN

[5 rows x 31 columns]

In [18]:
merged_df['pctprofread'] = merged_df['pctprofread'] / 100
merged_df['pctprofmath'] = merged_df['pctprofmath'] / 100
print(merged_df.head())

   ncessch_num  year                        school_name         city state  \
0  10000500870  2020          Albertville Middle School  Albertville    AL
1  10000500871  2020            Albertville High School  Albertville    AL
2  10000500879  2020    Albertville Intermediate School  Albertville    AL
3  10000500889  2020      Albertville Elementary School  Albertville    AL
4  10000501616  2020  Albertville Kindergarten and PreK  Albertville    AL

     zip  latitude  longitude  perflunch  perrlunch  ...  grade_edfacts  race  \
0  35950   34.2602 -86.206200   0.365639   0.029540  ...           99.0  99.0
1  35950   34.2622 -86.204900   0.283935   0.032601  ...           99.0  99.0
2  35950   34.2733 -86.220100   0.370370   0.034081  ...           99.0  99.0
3  35950   34.2527 -86.221806   0.437225   0.046046  ...           99.0  99.0
4  35951   34.2898 -86.193300   0.325540   0.022814  ...            NaN   NaN

    sex   lep  homeless  migrant  disability econ_disadvantaged  foster_care  \
0  99.0  99.0      99.0     99.0        99.0               99.0         99.0
1  99.0  99.0      99.0     99.0        99.0               99.0         99.0
2  99.0  99.0      99.0     99.0        99.0               99.0         99.0
3  99.0  99.0      99.0     99.0        99.0               99.0         99.0
4   NaN   NaN       NaN      NaN         NaN                NaN          NaN

   military_connected
0                99.0
1                99.0
2                99.0
3                99.0
4                 NaN

[5 rows x 31 columns]

In [19]:
merged_df.to_csv('data/merged2020_df.csv', index=False)